<div class="content-section">
      <div class="pages-main">
        <div class="pages-wrapper couponWrapper">
          <div class="usersLeftPane left">
            <div class="title">manage gift certificates <span class="help"><a href="#"></a></span></div>
            <div class="userPanel">
              <div class="searchUser"> <span class="searchInput left">
                <input type="text" placeholder="search">
                </span> <span class="addSearch left"><img border="0" src="/assets/btn_AddNewSearch.png"></span> <span class="selectColumns clear"><span class="columnText">all columns</span><span class="btnDown right"><img border="0" src="/assets/btnDropDownSelectColum.png"></span></span> </div>
              <span class="showUser clear"><span class="userLastname">205 <img src="/assets/btn_deleteUser_disabled.png"></span><span class="user-label">value</span></span> <span class="showUser clear"><span class="userLastname">james <img src="/assets/btn_deleteUser_active.png"></span><span class="user-label">purchased by</span></span> </div>
            <div class="userPanelDevider"></div>
            <div class="userPanel productp">
              <div class="date-created">
                <span id="" class="checkbox" style="background-position: 0pt -50px;"></span>
                <label for="shareThis">amount</label>
              </div>
              <div class="rangeSlider"><img width="212" height="22" src="/assets/sideBar.png"></div>
              
               <div class="date-created">
                <span id="" class="checkbox" style="background-position: 0pt -50px;"></span>
                <label for="shareThis">date created</label>
              </div>
              <div class="rangeSlider"><img width="212" height="22" src="/assets/sideBar.png"></div>
              
              <div class="last-activity">
                <span id="lastActivityVal" class="checkbox" style="background-position: 0pt 0pt;"></span>
                <label for="lastActivityVal">date expired</label>
              </div>
            </div>
            <div class="userPanelDevider"></div>
            <div class="userPanel">
              <div class="date-created">
                <span id="" class="radio" style="background-position: 0pt -50px;"></span>
                <label for="dateCreated">show all</label>
              </div>
              <div class="date-created">
                <span id="" class="radio" style="background-position: 0pt 0pt;"></span>
                <label for="dateCreated">show active only</label>
              </div>
              <div class="date-created">
                <span id="" class="radio" style="background-position: 0pt 0pt;"></span>
                <label for="dateCreated">show inactive only</label>
              </div>
            </div>
                        
          </div>
          <div class="site-users left ">
            <div class="addNewUserBtn">
              <button class="addNewUser">create new gift certificate </button>
            </div>
            <div class="page-data clear">
              <div class="userGrid giftCertGrid">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li> <span class="certificate">Certificate ID</span> <span class="created">Created</span> <span class="expires">Expires</span> <span class="purchasedBy">Purchased By</span> <span class="assigned">Assigned To</span> <span class="value">Value</span> <span class="remaining">Remaining</span> <span class="on">On</span> </li>
                  </ul>
                </div>
                <div class="userGridBody">
                  <div id="products1">
                    <div class="scrollbar" style="height: 400px;">
                      <div class="track" style="height: 400px;">
                        <div class="thumb" style="top: 0px; height: 331.263px;">
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div class="overview" style="top: 0px;">
                        <ul class="ConLibra">
                         <!-- <li> <span class="productName"><span class="pointer"></span> sunglases<span class="status"><img src="/assets/btnMarkNo.png" border="0" /></span></span> <span class="sku">Group X</span> <span class="created">08/12/11</span> <span class="vendor">08/12/11</span> <span class="sold">08/12/11</span> <span class="viewed">08/12/11</span> </li>-->
                          							<%GiftCertificate.all.each do |gf|%>
	                          <li class="selected alt"> <span class="certificateText"><%=gf.certificate_id%></span><span class="createdDate"><%=gf.created_at.strftime('%y/%m/%d')%></span><span class="expiresText"><%=gf.created_at.strftime('%y/%m/%d')%></span><span class="purchasedByText">James</span> <span class="assignedData"><%=User.find(gf.assigned_to).username rescue ''%></span> <span class="valueText"><%=gf.value%></span><span class="remainingText">$205.00</span> <span class="approvedText"><span onclick="window.location.href='/sites/<%=params[:site_id]%>/gift_certificates/<%=gf.id%>/approve'"><input type="checkbox" id="shareThis" <%= gf.status ? "checked='yes'" : ''%> class="styled"></span></span><span><a href="/sites/<%=params[:site_id]%>/gift_certificates/<%=gf.id%>" method="delete"> <img border="0" src="/assets/btnDelete.png"></a></span> </li>
							<%end%>  

                      </div>
                    </div>
                  </div>
                </div>
                <div class="userGridFooter"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
