<div class="cartCollumsBottom" id="flat_rate_option">
        <div class="rowDiv2 ">
          <div class="content-section categoryMain">
            <div class="pages-main noHeight">
              <div class="pages-wrapper">
                <div class="site-users left nobMargin">
                  <div class="rowDiv2">
                    <div class="pages-wrapper">
                     <div class="usersLeftPane productsTitle">
                           <div class="title">flat rate options</div>
                         </div>
                         <div class="rightButtonDiv">
                           <input type="button" value="create new flat rate method" class="addWeightBtn" name="input">
                           <span class="searchIcon"><a href="#"></a></span> </div>
                      <!-- grid-->
                      <%= form_for(@payment_gateway.shipping_gateway_attributes, :url => site_shipping_path(@site.id, params[:id]), :method => :put) do |shipping_gateway_attribute| %>
                      <div class="site-users nobMargin ">
                        <div class="page-data clear">
                          <div class="manageDateLeftBox"> <span>
                            <span class="status">
                          <% site_payment_gateway_test_mode_arr = site_payment_gateway_test_mode %>
                          <img class="<%= site_payment_gateway_test_mode_arr[0] %>" width="48" height="21" id="<%= site_payment_gateway_test_mode_arr[1] %>">
                          <%= hidden_field(:site_payment_gateway, :is_enable, :value => site_payment_gateway_test_mode_arr[2]) %>
                        </span>
                          </span>
                            <div class="colum-section">
                              <div class="group"> <span class="key">name</span> <span class="val">
                                <%= shipping_gateway_attribute.text_field(:name, :class => {:size => 20}, :value => 'Ground')%>
                                </span> </div>
                              <div class="group"> <span class="key">display name:</span> <span class="val">
                                <%= shipping_gateway_attribute.text_field(:display_name, :class => {:size => 20}, :value => @site_payment_gateway.get_value_of("display_name"))%>
                                </span> </div>
                              <div class="group next"> <span class="key">price modifier:</span> <span class="val">
                                <select class="noEdit">
                                  <option>$</option>
                                </select>
                                </span>
                               </div>
                                <div class="group"> <span class="key"></span> <span class="val">
                               <img width="61" height="24" src="css/img/btn_delete.jpg">
                                </span> </div>

                              </div>
                            </div>
                            <div class="userGrid cartGrid">
                            <div class="userGridHeader noRadius">
                              <ul class="ConLibraHeads">
                                <li> <span class="cName">Order Total Start</span> <span class="cName">Order Total Start</span> <span class="cName">Order Total End</span></li>
                              </ul>
                            </div>
                            <div class="userGridBody">
                              <div id="scrollbar1">
                                <div class="scrollbar disable" style="height: 77px; ">
                                  <div class="track" style="height: 77px; ">
                                    <div class="thumb" style="top: 0px; height: 77px; ">
                                      <div class="end"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="viewport">
                                  <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                                  <div class="overview featureProduct" style="top: 0px; ">
                                    <ul class="ConLibra ">
                                      <li class="selected alt"> <span class="cName arrow2">$25.00</span><span class="cName arrow2">$50.00</span><span class="cName arrow2">$10.00</span><span class="close1"><img border="0" src="css/img/btnDelete.png"></span> </li>
                                      <li class="alt"> <span class="cName arrow2">new sub options</span><span class="cName arrow2">$</span><span class="cName arrow2">$10.00</span><span class="close1"></span> </li>
                                      <li class="alt"> <span class="cName arrow2"></span><span class="cName arrow2">$</span><span class="cName arrow2">$10.00</span><span class="close1"></span> </li>

                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="userGridFooter"></div>
                          </div>
                          </div>

                        </div>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--2nd grid-->

              <div class="pages-main noHeight">
              <div class="pages-wrapper">
                <div class="site-users left nobMargin ">
                  <div class="rowDiv2">
                    <div class="pages-wrapper">

                      <!-- grid-->
                      <div class="site-users  ">
                        <div class="page-data clear ">
                          <div class="manageDateLeftBox"> <span><span class="status"><a href="#" class="on margin"></a></span></span>
                            <div class="colum-section">
                              <div class="group"> <span class="key">name</span> <span class="val">
                                <input type="text" class="noEdit" value="Air mail" disabled="">
                                </span> </div>
                              <div class="group"> <span class="key">display name:</span> <span class="val">
                                <input type="text" class="edit" value="custom airmail">
                                </span> </div>
                              <div class="group next"> <span class="key">price modifier:</span> <span class="val">
                                <select class="noEdit">
                                  <option>%</option>
                                </select>
                                </span>
                               </div>
                                <div class="group"> <span class="key"></span> <span class="val">
                               <img width="61" height="24" src="css/img/btn_delete.jpg">
                                </span> </div>

                              </div>
                            </div>
                            <div class="userGrid cartGrid">
                            <div class="userGridHeader noRadius">
                              <ul class="ConLibraHeads">
                                <li> <span class="cName">Order Total Start</span> <span class="cName">Order Total Start</span> <span class="cName">Order Total End</span></li>
                              </ul>
                            </div>
                            <div class="userGridBody">
                              <div id="scrollbar1">
                                <div class="scrollbar" style="height: 70px;">
                                  <div class="track" style="height: 70px;">
                                    <div class="thumb" style="top: 0px; height: 60.4938px;">
                                      <div class="end"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="viewport">
                                  <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                                  <div class="overview featureProduct" style="top: 0px;">
                                    <ul class="ConLibra ">
                                      <li class="selected"> <span class="cName arrow2">25.00 lbs</span><span class="cName">50.00 lbs</span><span class="cName arrow2">10.00%</span><span class="close1"><img border="0" src="css/img/btnDelete.png"></span> </li>
                                      <li class="alt"> <span class="cName "><input name="" type="text" value="newsub option " class="inputBox"><span>%</span></span><span class="cName"><input name="" type="text" value="0.00" class="inputBox"><span>%</span></span><span class="cName arrow2"><input name="" type="text" value="0.00" class="inputBox"><span>%</span></span><span class="close1"></span> </li>
                                      <li> <span class="cName arrow2"></span><span class="cName arrow2">$</span><span class="cName arrow2">$10.00</span><span class="close1"></span> </li>

                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="userGridFooter"></div>
                          </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>