<%= stylesheet_link_tag "pecaa", "facebox"%>
<%= csrf_meta_tag %>

<div class="addFileHolder">
  <div class="helpPopUp" style="display:none;">
    <p>Add Theme info</p>
    <span><span class="helpGreyTxt">File type:</span> Zip</span><br />
    <span><span class="helpGreyTxt">max file size:</span> 5mb</span>
  </div>
  <%= form_for(@theme, :multipart => true) do |f| %>
    <div>
      <div class="header">Upload Theme</div>
      <div class="main-content">
        <div class="text-editer">
          <%= f.text_field :name, :placeholder=>"theme name" %>
        </div>
        <div class="text-editer">
          <%= f.file_field :theme_file %>
        </div>
      </div>
      <div class="footer-section">
        <div class="leftBtns"><button class="secondary btnCancelForm" id="cancelBtn">Cancel</button> </div>
          <button class="primary" id="saveBtn">Add Theme</button> </div>
      </div>
    </div>
  <% end %>
  
</div>
<script>
  $('#cancelBtn').click(function(){
      $(document).trigger('close.facebox');
      return false;
  });
</script>