<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PECAA</title>
		    <%= stylesheet_link_tag  "layout"%>
        <link rel="stylesheet" href="/assets/editCode.css" type="text/css">
        <script src="/assets/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/assets/jquery.tinyscrollbar.min.js"></script>
        <script type="text/javascript">
        	
        	$(document).ready(function(){
        		$('#fileListView').tinyscrollbar();
        		$(".ConLibra li:even").addClass("alt");
        	})
        </script>
    </head>
    <body>
    	<div class="mainContainer">
	    	<div class="userEditHolder">	
		    	<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder">
  		    			<%if SystemConfig.first%>
  		    			  <img src="<%= SystemConfig.first.controller_logo %>" width="170" height="36"/>
  		    			<%end%>
		    			</div>
		    			<div class="rightPanel">
		    				<ul>
		    					<li class="help"></li>
		    					<li class="myAccount"></li>
		    					<li class="logout"></li>
		    				</ul>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="content-section">
		    		<div class="editCode-wrapper">
		    			<div class="fileList left">
		    				<div class="goToFolder">
		    					<select>
		    						<option>go to folder</option>
		    						<option value="<%=edit_theme_path(@theme, :file_type => 'templates')%>">templates</option>
		    						<option value="<%=edit_theme_path(@theme, :file_type => 'themes')%>">themes</option>
		    					</select>
		    				</div>
		    				<div class="userGrid">
								<div class="userGridHeader">
									<ul class="ConLibraHeads">
										<li>
											<span class="fileName">File Name</span>
										</li>
									</ul>
								</div>
								<div class="userGridBody">
									<div id="fileListView">
										<span class="pointer"></span>
										<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
										<div class="viewport">
											<div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
		 									<div class="overview" id='products1'>
		    									<ul class="ConLibra">
		    									  <% @files.each do |file|%>
  		    										<li <%= (@selected_file == file ? "class='selected'" : '')%>
  		    											<span class="fileName"><a href="?file_name=<%=file%>&file_type=<%=params[:file_type]%>"><%=file%></a></span>
  		    											</li>
		    										<% end %>
		    									</ul>
		    								</div>
    									</div>
    								</div>
    							</div>
    							<div class="userGridFooter"></div>
	    					</div>
		    			</div>
		    			<div class="editCode left">
		    				<div class="fileDetail">
		    					<div class="fileNameField left"><span class="showName"><%=@selected_file%></span><span class="trashBtn"><img src="/assets/btn_EditCode_Trash.png" border="0" /></span><span class="newFileBtn"><img src="/assets/btn_EditCode_New.png" border="0" /></span></div>
		    					<div class="closeAndReturn right"><span class="closeLabel">close & return to themes</span><span class="closeButton"><img src="/assets/btnDelete.png" border="0" /></span></div>
		    				</div>
		    				<div class="editFileView clear">
                  <%= form_for(@theme) do |f| %>
                    <%=hidden_field_tag :file_name, @selected_file%>
                    <%=hidden_field_tag :file_type, params[:file_type]%>
                    <textarea cols='500' rows='60' name='file_content'>
                      <%=raw @file_content%>
                    </textarea>
		    				</div>
		    				  <div class="rightBtns">
		    				    <button class="theme_btn_Save" id="form_submit" >Save</button>
		    				</div>
                <% end %>
		    			</div>
		    		</div>
		    	</div>
	    	</div>
        </div>
        <script>
          $("select").change(function(){
            var link = $(this).attr('value');
            if (link != ""){
              window.location = $(this).attr('value');
            }
          });
        </script>
    </body>
</html>
