<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Pecaa</title>
		<link rel="stylesheet" href="/assets/layout.css" type="text/css">
		<link rel="stylesheet" href="/assets/controlTabLayout.css" type="text/css">
		<link rel="stylesheet" href="/assets/login.css" type="text/css">
    <link rel="stylesheet" href="/assets/siteinfo.css" type="text/css">
    <link rel="stylesheet" href="/assets/pages.css" type="text/css">
    <link rel="stylesheet" href="/assets/content.css" type="text/css">
    <link rel="stylesheet" href="/assets/themes.css" type="text/css">
    <link rel="stylesheet" href="/assets/optional.css" type="text/css">
    <link rel="stylesheet" href="/assets/users.css" type="text/css">
    <link rel="stylesheet" href="/assets/done.css" type="text/css">
    <link rel="stylesheet" href="/assets/facebox.css" type="text/css">
    <script type="text/javascript" src="/assets/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/facebox.js"></script>

	</head>
	<body>
    <div class="mainContainer">
	    	<div class="userEditHolder">	
		    	<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder">
  		    			<%if SystemConfig.first%>
  		    			  <img src="<%= SystemConfig.first.controller_logo %>" width="170" height="36"/>
  		    			<%end%>
		    			</div>
		    			<div class="rightPanel">
		    				<ul>
		    					<li class="help"></li>
		    					<li class="myAccount"></li>
		    					<li class="logout"></li>
		    				</ul>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="content-section">
    				<div class="ctrlTabSection">
    				  <div class="ueNavHolder">
    				    <img src="/assets/ue-nav-bg-left.png" style="float:left;" />
    				    <div class="ueNavMid">
		            	<ul class="ueNav narrow">
                  	<li <%=check_selected('sites')%>><a href="/sites"><span>Website List</span></a></li>
                      <li <%=check_selected('sites/system_stats')%>><a href="/sites/system_stats"><span>System Stats</span></a></li>
                      <li <%=check_selected('reports/orders_report')%>><a href="/reports/orders_report"><span>Reports</span></a></li>
                      <li <%=check_selected('sites/ad_setup')%>><a href="/sites/ad_setup"><span>Ad Setup</span></a></li>
                      <li <%=check_selected('content_libraries')%>><a href="/content_libraries"><span>Content Library</span></a></li>
                      <li <%=check_selected('users')%>> <a href="/users"><span>Users</span></a></li>
                      <li <%=check_selected('system_configs')%>><a href="/system_configs"><span>System Config</span></a></li>
                      <li <%=check_selected('themes')%>><a href="/themes"><span>Themes</span></a></li>
		                </ul>
		            </div>
		            <img src="/assets/ue-nav-bg-right.png" style="float:left;" />
		            
	            </div>
	    				<div class="ctrlTabContent">
	    					<div class="themeSection">
	    					  <a href='<%= new_theme_path(@theme) %>' rel="facebox" style="display:block;" class="theme_link"></a>
								<div class="themeGroup left">
									<h2>About Themes</h2>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="themeGroup left">
									<button class="getTheme left">Get More Themes</button>
									<button class="upTheme left">Upload Theme</button>
									
								</div>
							</div>
	    					<div class="themeSection">
								<ul class="themeBoxes">
									<h2>Current Themes</h2>
									<% @themes.each do |theme| %>
									<li>
										<h3><%=theme.name%></h3>
										<div class="thumb"><img src="/assets/sampleThemeThumb.png" /></div>
										<ul class="tools">
											<li class="edit"><a href="<%=edit_theme_path(theme)%>">Edit Theme</a></li>
											<li class="temp"><a href="<%=edit_theme_path(theme, :file_type=>"templates")%>">Edit Templates</a></li>
											<li class="dup"><a href="<%=copy_theme_theme_path(theme)%>">Duplicate Theme</a></li>
                      <li class="down"><a href="<%=download_theme_theme_path(theme)%>">Download Theme</a></li>
										</ul>
										<a href="#" class="activateLink on">Active</a>
									</li>
									<% end %>
								</ul>
							</div>
	    				</div>
    					<div class="ctrl-footer">
    						<a href="#" class="ctrlHomeBtn left"></a>
    						<ul class="ctrlFTLinks right">
    							<li>sublink1</li>
    							<li>sublink2</li>
    							<li>sublink3</li>
    							<li>sublink4</li>
    						</ul>
    					</div>
    				</div>
		    	  </div>
	    	  </div>
	    	</div>
      </div>
    </div>
    <script>
      $('a[rel*=facebox]').facebox();
      $('.upTheme').click(function(){
        $('a.theme_link').trigger('click')
      });
    </script>

	</body>
</html>