<%= form_for(@site_feature) do |f| %>
  <% if @site_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_feature.errors.count, "error") %> prohibited this site_feature from being saved:</h2>

      <ul>
      <% @site_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_filtering_status %><br />
    <%= f.check_box :product_filtering_status %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :advertising_status %><br />
    <%= f.check_box :advertising_status %>
  </div>
  <div class="field">
    <%= f.label :show_reviews_from_last_login %><br />
    <%= f.check_box :show_reviews_from_last_login %>
  </div>
  <div class="field">
    <%= f.label :cart_setup %><br />
    <%= f.check_box :cart_setup %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
