<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	  <title>{{site.name}}</title>
    {{ site_theme }}
	</head>
	<body>
		<div class="mainContainer">
			<div class="userEditHolder">
				<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder"></div>
              This is Header
		    		</div>
		    </div>
		    <div class="content-tabs">
          <ul>
            {% for site_page in site.site_pages %}
              <li  class="active">
                <a href="/sites/{{ site.id }}/preview?page_id={{ site_page.id }}" title="{{site_page.name}}">
                  <span>
                    {{ site_page.name}}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        
  		  <div id="box">
  		    {{ content_for_layout }}
  			</div>
  			
  			<div class="footer-section">
  				This is footer
        </div>
			</div>
		</div>
	</body>
</html>