<!DOCTYPE HTML>
<html>
	<head>
    <title>{{site.name}}</title>
		<link href="/css/pecaaCF.css" rel="stylesheet" type="text/css" />
		<script src="/assets/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$('document').ready(function(){
				$('.menu li ul').hide();
			    $('#mainNav a.dropdown').parent().hover(function(e) {
			        $(this).find('.subMenuBox').stop().slideToggle("medium");
			    });

			});
		</script>
	</head>
	<body>
		
		<div class="content-section">
			<header class="clearfix">
				<div class="banner clearfix">
					<div class="hItem"><img src="/css/img/logo.png" border="0" /></div>
					<div class="hItem">
						<div class="hSubItem"><img src="/css/img/iconHeaderPromo.png" border="0" /></div>
						<div class="hSubItem"><div class="headerSearch clearfix"><span class="searchBox"><input type="text" /></span><span class="searchBtn"><img src="/css/img/btnHeaderSearch.png" border="0" /></span></div></div>
					</div>
					<div class="hItem hCart"><img src="/css/img/iconHeaderCart.png" border="0" /></div>
				</div>
			</header>
			<nav class="clear" id="mainNav">
				<ul>
				  {% for site_page in site.parent_pages %}
						<li class="active">
						  {% if site_page.children.first == null %}
						    <a href="/sites/{{ site.id }}/preview?page_id={{ site_page.id }}" title="{{site_page.name}}">
						  {% else %}
						    <a href="/sites/{{ site.id }}/preview?page_id={{ site_page.id }}" title="{{site_page.name}}"  class="dropdown">
					    {% endif %}
						    <span>{{site_page.name}}</span>
              </a>
              {% if site_page.children != [] %}
  					    <div class="subMenuBox" style="display: none;">
    							<ul class="subMenu clearfix">
    							  {% for child_page in site_page.children %}
      								<li>
      								  <a href="/sites/{{ site.id }}/preview?page_id={{ child_page.id }}" title="{{child_page.name}}">
        						    <span>{{child_page.name}}</span>
                        </a>
        						  </li>
      						  {% endfor %}
    							</ul>
    						</div>
  			      {% endif %}
            </li>
					{% endfor %}
				</ul>
			</nav>
			<div class="welcome clearfix">
				<div class="col left"><img src="/css/img/icon90daysGuarantee.png" border="0" /></div>
				<div class="col msg left"><span class="line"></span><span class="welcomeMsg">Welcome to PECAA</span><span class="line"></span>
					<div class="inst clear">Check out these top-selling products.</div>
				</div>
				<div class="col right"><img src="/css/img/iconFreeShipping.png" border="0" /></div>
			</div>
			<div class="main-content clearfix clear">
				<aside>
				  {{content_for_filter}}
				</aside>
				<div class="main clearfix">
					<div class="intro clearfix">
						<div class="sevenFivePer left">
							<h1>Title Number One</h1>
							<p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.Look again at that dot. That’s here. That’s home. That’s us. </p>
						</div>
						<img src="/css/img/imgIntro.png" border="0" />
					</div>
					{{content_for_layout}}
				</div>
			</div>
			<div class="newsLetter clearfix">
				<span class="getEmail">Get our email newsletter - </span>
				<span class="promiss">we won’t share your number with anyone else, we promise!</span>
				<span class="signup clearfix"><span><input type="text" placeholder="your email address" /></span>
					<img src="/css/img/btnSignupNews.png" border="0" />
				</span>
			</div>
			<footer class="clearfix">
				<div class="fCol">
					<h3>Pecaa Eyeglasses Inc.</h3>
					<h4>Pecaa Eyeglasses Inc.</h4>
					<h4>Pecaa Eyeglasses Inc.</h4>
				</div>
				<div class="fCol">
					<h2>email : <span class="val email">info@pecaa.com</span></h2>
					<h2>phone : <span class="val">222.187..1588</span></h2>
				</div>
				<div class="fCol last">
					<ul class="sMedia clearfix">
						<li class="fb"></li>
						<li class="tw"></li>
						<li class="gp"></li>
						<li class="li"></li>
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>