<!DOCTYPE HTML>
<html>
	<head>
    <title>{{site.name}}</title>
    {{ site_theme }}
    <link href="/css/pecaaCF.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="content-section">
			<div class="header clearfix">
				<div class="hItem"><img src="/css/img/logo.png" border="0" /></div>
				<div class="hItem">
					<div class="hSubItem"><img src="/css/img/iconHeaderPromo.png" border="0" /></div>
					<div class="hSubItem"><div class="headerSearch clearfix"><span class="searchBox"><input type="text" /></span><span class="searchBtn"><img src="/css/img/btnHeaderSearch.png" border="0" /></span></div></div>
				</div>
				<div class="hItem hCart"><img src="/css/img/iconHeaderCart.png" border="0" /></div>
			</div>
			<div class="main-content">
				<div class="wrapper">
				<div class="content-tabs">
          <ul>
            {% for site_page in site.site_pages %}
              <li  class="active">
                <a href="/sites/{{ site.id }}/preview?page_id={{ site_page.id }}" title="{{site_page.name}}">
                  <span>
                    {{ site_page.name}}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
  		  <div id="box">
  		    {{ content_for_layout }}
  			</div>
				</div>
			</div>
			<div class="footer clearfix">
				<div class="fCol">
					<h3>Pecaa Eyeglasses Inc.</h3>
					<h4>Pecaa Eyeglasses Inc.</h4>
					<h4>Pecaa Eyeglasses Inc.</h4>
				</div>
				<div class="fCol">
					<h2>email : <span class="val email">info@pecaa.com</span></h2>
					<h2>phone : <span class="val">222.187..1588</span></h2>
				</div>
				<div class="fCol last">
					<ul class="sMedia clearfix">
						<li class="fb"></li>
						<li class="tw"></li>
						<li class="gp"></li>
						<li class="li"></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>