
      
      <div id="div_{{ order.id}}">here comes order details {{ order.id}}
      
      <table border='1' width="100%">
	      <tr>
		<td width="50%"><b>Oklaet black Fancy frame{{ order.name}}s</B></td>
		<td width="30%">View item options</td>
		<td width="20%">$248</td>
	      </tr>      
      </table>
      <br>
      <table style="border: 1px dotted gray;" width="100%">
	<tr>
		<td width="20%">Shipping address</td>
		<td width="20%">Biling Address </td>
		<td width="20%">Placed {{ order.name}}</td>
		<td width="20%">subtotal</td>
		<td width="20%">$248</td>
	</tr>
	<tr>
		<td>
		 

		<p>ssss{{ @order.num_pdt}}</p>
		
		<p>1234 Fake st</p>
		<p>APT A</p>
		<p>Allegey, oh 53121</p>
		</td>
		<td>
		<p>Jim Smithson</p>
		<p>1234 Fake st</p>
		<p>APT A</p>
		<p>Allegey, oh 53121</p>
		</td>
		<td valign="top">May 19,2012</td>
		<td>Shipping & handling</td>
	</tr>
      </table>

      </div>
      </td>
      </tr>
  {% endfor %}
</table>

</div>



                    
                    