<!DOCTYPE HTML>
<html>
	<head>
    <title>{{site.name}}</title>
		<link href="/css/pecaaCF.css" rel="stylesheet" type="text/css" />
		<script src="/assets/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$('document').ready(function(){
				$('.menu li ul').hide();
			    $('#mainNav a.dropdown').parent().hover(function(e) {
			        $(this).find('.subMenuBox').stop().slideToggle("medium");
			    });

			});
		</script>
		{{ site_theme }}
	</head>
	<body>
		
		<div class="content-section">
		  {{ content_for_header }}
		  {{ content_for_navigation }}
		  {{ content_for_page_heading }}
			<div class="main-content clearfix clear">
				{{ content_for_filter }}
				<div class="main clearfix">
					<div class="intro clearfix">
						<div class="sevenFivePer left">
							<h1>Title Number One</h1>
							<p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.Look again at that dot. That’s here. That’s home. That’s us. </p>
						</div>
						<img src="/css/img/imgIntro.png" border="0" />
					</div>
					{{ content_for_layout }}
				</div>
			</div>
		{{ content_for_footer }}
	</body>
</html>