<div class="pages-main">
		    			<div class="pages-wrapper">
		    				
		    				<div class="usersLeftPane userEdit">
								<div class="title">Manage Users <span class="help">
									<a href="#"></a></span><div class="addNewUserBtn right">
										        <%= button_to "create new user", '/users/new',:class=>'addNewUser',:method=>"get" %>
							     </div>
							</div>
								<%=form_for(@user_obj) do |f| %>
									<div class="userEditPanel">
										<h2><%=@user_obj.username if @user_obj %></h2>
										<div class="user-topCorner">
											<span class="key"><span id="" class="checkbox" style="background-position: 0px 0px; "></span>
											<%=f.check_box "active",{:id=>"checkbox-4",:class=>"styled" },1,0%>
											</span>
											<span class="val">active</span>
											<span class="key">created :</span>
											<span class="val"> <%=@user_obj.created_at.strftime('%d/%m/%y') if @user_obj and @user_obj.created_at %></span>
											<span class="key">last activity :</span>
											<span class="val"><%=@user_obj.last_login.strftime('%d/%m/%y') if @user_obj and @user_obj.last_login %></span>
										</div>
										<!-- start of colum wrapper -->
										<div class="left">
											<div class="userDetailSet">
												<span class="key">user name :</span>
												<span class="val"><%=f.text_field :username,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">password :</span>
												<span class="val"><%=f.password_field :password,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">email :</span>
												<span class="val"><%=f.text_field :email,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">phone :</span>
												<span class="val"><%=f.text_field :phone_number,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">company :</span>
												<span class="val"> <%=f.text_field :company,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">title :</span>
												<span class="val"><%=f.text_field :title,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">role :</span>
												<span class="val"><%=f.text_field :role_title,:class=>"ueInp" %></span>
											</div>
											<div class="userDetailSet">
												<span class="key">user # :</span>
												<span class="val"><%=f.text_field :user_identity,:class=>"ueInp" %></span>
											</div>
									
										</div>
										<!-- end of colum wrapper -->
										<!-- start of colum wrapper -->
										<div class="left">
											<div class="tab-wrapper"><ul><li class="active"><a href="#">shipping address</a></li><li><a href="#">billing address</a></li></ul></div>
											<div class="tab-Content">
												<div class="userDetailSet">
													<span class="key"></span>
													<span class="val"><select><option>choose an existing address</option></select></span>
												</div>
												<div class="userDetailSet">
													<span class="key">nickname :</span>
													<span class="val"><%=f.text_field "addresses1[nickname]",:class=>"ueInp",:value=>"#{@user_obj.addresses.first.nickname if @user_obj.addresses.first}" %>g</span>
												</div>
												<div class="userDetailSet">
													<span class="key">address :</span>
													<span class="val"> <%=f.text_field "addresses1[address_one]",:class=>"ueInp",:value=>"#{@user_obj.addresses.first.address_one if @user_obj.addresses.first}" %></span>
													<span class="key"></span>
													<span class="val">2</span>
												</div>
												<div class="userDetailSet">
													<span class="key">Omaha</span>
													<span class="val"><%=f.text_field "addresses1[city]",:class=>"ueInp",:value=>"#{@user_obj.addresses.first.city if @user_obj.addresses.first}" %></span>
												</div>
												<div class="userDetailSet">
													<span class="key">state :</span>
													<span class="val"><%=f.text_field "addresses1[state]",:class=>"ueInp",:value=>"#{@user_obj.addresses.first.city if @user_obj.addresses.first}" %></span>
												</div>
												<div class="userDetailSet">
													<span class="key">zip :</span>
													<span class="val"><%=f.text_field "addresses1[zipcode]",:class=>"ueInp" ,:value=>"#{@user_obj.addresses.first.city if @user_obj.addresses.first}"%></span>
												</div>
											</div>
											<div class="tab-Content" style="display: none">
												<div class="userDetailSet">
													<span class="key"></span>
													<span class="val"><select><option>choose an existing address</option></select></span>
												</div>
												<div class="userDetailSet">
													<span class="key">nickname :</span>
													<span class="val">Home Shipping</span>
												</div>
												<div class="userDetailSet">
													<span class="key">address :</span>
													<span class="val">1234 W. 12th Avenue</span>
													<span class="key"></span>
													<span class="val">2</span>
												</div>
												<div class="userDetailSet">
													<span class="key">Omaha</span>
													<span class="val">302.345.6662</span>
												</div>
												<div class="userDetailSet">
													<span class="key">state :</span>
													<span class="val">Nebraska</span>
												</div>
												<div class="userDetailSet">
													<span class="key">zip :</span>
													<span class="val">15648</span>
												</div>
											</div>
										</div>
										<!-- end of colum wrapper -->
										<!-- start of colum wrapper -->
										<div class="last left">
											<div class="userGroupInfo">
												<div class="groupLabel">groups :</div>
												<div class="groupInfo">
													<div>
														<span id="" class="checkbox" style="background-position: 0px -50px; "></span><input type="checkbox" class="styled">
														<label>group1</label>
													</div>
													<div>
														<span id="" class="checkbox" style="background-position: 0px -50px; "></span><input type="checkbox" class="styled">
														<label>group2</label>
													</div>
													<div>
														<span id="" class="checkbox" style="background-position: 0px -50px; "></span><input type="checkbox" class="styled">
														<label>groupX</label>
													</div>
												</div>
											</div>
											<div class="userGroupInfo">
												<div class="groupLabel">notes :</div>
												<div class="groupInfo fixed"><textarea class="noteText">Here is a note about something to do with this account.</textarea>
													<span class="addNote right"><a href="#" class="btnAddNote"></a></span>
												</div>
												<div class="editedBy clear right">10/22/2011 by k.keane</div>
											</div>
											<div class="userGroupInfo">
												<div class="groupInfo fixed fullWidth"><textarea class="noteText">Here is a note about something to do with this account.</textarea>
												</div>
												<div class="editedBy clear right">9/11/2011 by j.smith</div>
											</div>
											<div class="userGroupInfo">
												<div class="groupInfo fixed fullWidth"><textarea class="noteText">Here is a note about something to do with this account.</textarea>
												</div>
												<div class="editedBy clear right">9/11/2011 by peter king</div>
											</div>
											<div class="seeMore">
												<div class="seeMoreLine"></div>
												<span class="seeMoreBtn"><a href="#">see more</a></span>
											</div>
										</div>
										<!-- end of colum wrapper -->
										
										<div class="userEditBtnPanel clear">
											<div class="left"><button class="redBtn">delete user</button></div>
											<div class="right">
												<button class="secondary">cancel</button>
												<button class="primary">save changes</button>
											</div>
										</div>
									</div>
								
		    				</div>

		    		<%end%>
		    			</div>
		    		</div>