

<%=form_tag "/sites/#{params[:site_id]}/site_users/edit_group/#{@group_obj.id}" do %>
<div class="userDetailPanel">
<h2><%=@group_obj.name%></h2>
<div class="userDetailSet">
<span class="key">created :</span>
<span class="val"><%=@group_obj.created_at.strftime("%D")%></span>
</div>
<div class="userDetailSet bottomBorder">
<span class="key">last activity :</span>
<span class="val"><%=@group_obj.updated_at.strftime("%D")%></span>
</div>
<div class="showGroupDetail">
<span class="val">
  <%=check_box_tag "groups[active]",@group_obj.id, @group_obj.status %>

</span>
<span class="key">active</span>
<div class="groupNameLabel">group name :</div>
  <div class="groupNameField"><%=text_field_tag :name,@group_obj.name,:style=>"width:220px;" %></div>
</div>
<div class="showRolesDetail">
<ul>
<%Role.all.each do |role|%>
<li>
  <span class="val">
    <%=check_box_tag "group[role_ids][]",role.id,@group_obj.roles.include?(role) %>
  </span>
<span class="key"><%= role.name %></span></li>
<%end%>
</ul>
</div>
<div class="groupEditBtnPanel"><div class="left"><button class="redBtn">delete</button></div><div class="right"><button class="primary">save changes</button></div></div>
</div>

<%end%>