 <script type="text/javascript">
        	
        	$(document).ready(function(){
        		
        		$(".ConLibra li:even").addClass("alt");
        		$("ul.ConLibra li").each(function(){
        			var $this = $(this);
        			if($this.hasClass("selected")){
        				$this.find('.pointer').show();
        			}
        		})
        		$("ul.ConLibra li").click(function(){
        			var $this = $(this);
        			
        			if(!$this.hasClass("selected")){
        				$("ul.ConLibra li").removeClass("selected");
        				$("ul.ConLibra li").find('.pointer').hide();
        				$this.addClass("selected");
        				$this.find('.pointer').show();
        			}
					var user_id = this.id.split('_')[0]
					 $.ajax({
				            type: "get",
				            url: "/sites/<%=@site.id%>/site_users/user_details/"+user_id,
				            success: function (data) {
								$('#user_details').html(data)
				            },
				        });
        			return false;
        			
        		})
        	})
			function show_user(id){
				$.ajax({
			type: "get",
			url: '<%="/sites/#{params[:site_id]}/site_users/"%>' + id,
			success: function(data){
				$('#user_details').html(data);
			},
	});
			}
			
        </script>

<div class="pages-main">
		    			<div class="pages-wrapper">
		    				
		    				<div class="usersLeftPane left">
								<div class="title">Manage Users <span class="help"><a href="#"></a></span></div>
								<div id ="user_details">
								<div class="userPanel">
									<div class="searchUser">
										<span class="searchInput left"><input type="text"></span>
										<span class="addSearch left"><img src="/assets/btn_AddNewSearch.png" border="0"></span>
										<span class="selectColumns clear"><span class="columnText">all columns</span><span class="btnDown right"><img src="/assets/btnDropDownSelectColum.png" border="0"></span></span>
									</div>
									<span class="showUser clear"><span class="userLastname">smith <img src="/assets/btn_deleteUser_active.png"></span><span class="user-label">user name</span></span>
									<span class="showUser clear"><span class="userLastname">Group X <img src="/assets/btn_deleteUser_disabled.png"></span><span class="user-label">group</span></span>
								</div>
								
								<div class="userPanelDevider"></div>
								
								<div class="userPanel">
									<div class="date-created"><input type="checkbox" class="styled" id="dateCreated"> <label for="dateCreated">date created</label></div>
									<div class="rangeSlider">range slider comes here</div>
									<div class="last-activity"><input type="checkbox" class="styled" id="lastActivityVal"> <label for="lastActivityVal">last activity</label></div>
								</div>
		    				</div>
		    				</div>
							
		    				
		    				<div class="site-users left">
								<div class="addNewUserBtn">
 <%= button_to "create new user", "/sites/#{@site.id}/site_users/new",:class=>'addNewUser',:method=>"get" %>

</div>
    							<div class="page-data clear">
    								<div class="userGrid">
    									<div class="userGridHeader">
    										<ul class="ConLibraHeads">
    											<li>
    												<span class="userName">User Name</span>
    												<span class="group">Group</span>
    												<span class="created">Created</span>
    												<span class="lastActivity">Last Activity</span>
    											</li>
    										</ul>
    									</div>
    									<div class="userGridBody">
    										<div id="scrollbar1">
    											<div class="scrollbar" style="height: 400px; "><div class="track" style="height: 400px; "><div class="thumb" style="top: 0px; height: 355.55555555555554px; "><div class="end"></div></div></div></div>
    											<div class="viewport">
				 									<div class="overview" style="top: 0px; ">
				    									<ul class="ConLibra">
				    										<%@site_users.each_with_index do |s_u|%>
				    										<li class="<%= cycle('', 'alt') %>" id ="<%=s_u.user.id%>_detail" onclick="show_user('<%=s_u.id%>')">
				    											<span class="userName"><span class="pointer"></span> <%=s_u.user.username%><span class="status">
				    												<%if s_u.user.active%>
																	<img src="/assets/btnMarkYes.png" border="0">
																	<%else%>
				    												<img src="/assets/btnMarkNo.png" border="0">
																	<%end%>
																</span></span>
				    											<span class="group">Group X</span>
				    											<span class="created"><%=s_u.user.created_at.strftime('%d/%m/%y')%></span>
				    											<span class="lastActivity"><%=s_u.user.created_at.strftime('%d/%m/%y')%></span>
				    										</li>
															<%end%>
				    									</ul>
				    								</div>
		    									</div>
		    								</div>
		    							</div>
		    							
    									<div class="userGridFooter"></div>
    								
	    							</div>
			    				</div>
			    			</div>
		    		
		    			</div>
		    		</div>
<script>
	    $('#form_submit').click(function(){
          window.location.href = "/sites/<%=params[:site_id]%>/done"
      })
      $('#preview_button').click(function(){
        window.location.href="<%=preview_site_path(@site)%>";
      });
      
</script>