<div class="userDetailPanel">
									<h2><%=@user_obj.username%></h2>
									<div class="userDetailSet">
										<span class="key">user name :</span>
										<span class="val"><%=@user_obj.username%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">password :</span>
										<span class="val">********</span>
									</div>
									<div class="userDetailSet">
										<span class="key">email :</span>
										<span class="val"><%=@user_obj.email%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">phone :</span>
										<span class="val"><%=@user_obj.phone_number%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">company :</span>
										<span class="val"><%=@user_obj.company%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">title :</span>
										<span class="val"><%=@user_obj.title%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">group :</span>
										<span class="val">group 1<br>group 2<br>group X</span>
									</div>
									<div class="userDetailSet bottomBorder">
										<span class="key">user # :</span>
										<span class="val"><%=@user_obj.id%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">created :</span>
										<span class="val"><%=@user_obj.created_at.strftime('%D') rescue ''%></span>
									</div>
									<div class="userDetailSet">
										<span class="key">last activity :</span>
										<span class="val"><%=@user_obj.last_sign_in_at.strftime('%D') rescue ''%></span>
									</div>
									
								</div>