<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :free_text %><br />
    <%= f.text_field :free_text %>
  </div>
  <div class="field">
    <%= f.label :expired_at %><br />
    <%= f.text_field :expired_at %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br />
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :coupon_type %><br />
    <%= f.text_field :coupon_type %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :multi_use %><br />
    <%= f.check_box :multi_use %>
  </div>
  <div class="field">
    <%= f.label :no_of_users %><br />
    <%= f.number_field :no_of_users %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
