<%= javascript_include_tag 'jquery.jeditable'%>
<div class="siteInfo-main cartBg">
    <div class="cartColumsMain2">
        <div class="rowDiv">
            <h2>product filter setup<span><a href="$"><img src="/assets/helpIcon.png"/></a></span></h2>
            <dl>
                <dt>
                    enable product filtering:
                </dt>
                <dd>
                    <span class="status">
                    	<%if ProductFilter.first and ProductFilter.first.site_id == 1%>
						    <%@status = true%>
							<a class="on" href="/sites/<%=params[:site_id]%>/product_filters/update_status?product_filtering=false"></a>
						<%else%>
							<a class="off" href="/sites/<%=params[:site_id]%>/product_filters/update_status?product_filtering=true"></a>
						<%end%>
					</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="cartCollumsBottom" style="<%=@status == true ? '' : 'opacity:0.4;'%>">
        <div class="rowDiv2">
            <div class="content-section featuresMain">
                <div class="pages-main">
                    <div class="pages-wrapper">
                        <div class="usersLeftPane productsTitle">
                            <div class="title">
                                product filter options
                            </div>
                        </div>
				    	<div class="addNewUserBtn right"><a class="addNewUser" href="/sites/<%=params[:site_id]%>/product_filters/new" rel="facebox" style="padding-right:0">create new Filter</a></div>
                        <div class="site-users left">
                            <div class="page-data clear">
                                <div class="userGrid customTax1">
                                    <div class="userGridHeader">
                                        <ul class="ConLibraHeads">
                                            <li>
                                                <span class="featureTitle">Name</span>
                                                <span class="friendlyName">Friendly Name</span>
                                                <span class="enabled">Enabled</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="userGridBody">
                                        <div id="products1">
                                            <div class="scrollbar" style="height: 0px;">
                                                <div class="track" style="height:0px;">
                                                    <div class="thumb" style="top: 0px; height: 01px;">
                                                        <div class="end">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="viewport">
                                                <div class="shadows">
                                                    <span class="topShadow"></span>
                                                    <span class="bottomShadow"></span>
                                                </div>
                                                <div class="overview featureProduct" style="top: 0px;">
                                                    <ul class="ConLibra ">

                                                        <!-- <li> <span class="productName"><span class="pointer"></span> sunglases<span class="status"><img src="css/img/btnMarkNo.png" border="0" /></span></span> <span class="sku">type X</span> <span class="created">08/12/11</span> <span class="vendor">08/12/11</span> <span class="sold">08/12/11</span> <span class="viewed">08/12/11</span> </li>-->
														<%ProductFilter.all.each_with_index do |product_filter,i|%>

                                                        <li class="alt">
                                                            <span class="location"><%=product_filter.name%></span>
                                                            <span class="type"> <span class="edit" id="div_<%=product_filter.id%>"><%=product_filter.friendly_name%></span></span>
                                                            <span class="status"><a class="<%=product_filter.status ? 'on' : 'off'%>" href="/sites/<%=params[:site_id]%>/product_filters/<%=product_filter.id%>/enable_status"></a></span>
                                                        </li>
														<%end%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="userGridFooter">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	 $(document).ready(function() {
    	 $('.edit').editable('/sites/<%=params[:site_id]%>/product_filters/rename_editable',{width     : '120px'});
 	});
</script>