<%if params[:content_lib] or @site_page%>
  <%common_details=@site_page.content_libraries_site_pages.order('list_order')%>
  <%common_details.each do |common_detail|%>
  <%     content = common_detail.content_library
         @bloc_id=common_detail.id
         @bloc_style=common_detail.position
         li_style = common_detail.position.nil? ? '' : common_detail.position
         @resizable_el_style = ''
         @image_w = ''
         if(!common_detail.width.nil?)
            li_style += 'width:'+common_detail.width+'px;'
            @resizable_el_style += 'width:'+common_detail.width+'px;'
            if common_detail.content_type == 'Image'
              @image_w = (common_detail.width.to_i - 50).to_s + 'px'
            elsif common_detail.content_type=='Misc'
              @image_w = common_detail.width.to_i - 65
            end
         else
           li_style += 'width:460px;'
         end
         @image_h = ''
         if(!common_detail.height.nil?)
           li_style += 'height:'+common_detail.height+'px;'
           @resizable_el_style += 'height:'+common_detail.height+'px;'
           if common_detail.content_type == 'Image'
               @image_h = (common_detail.height.to_i - 50).to_s + 'px'
           elsif common_detail.content_type=='Misc'
               @image_h = common_detail.height.to_i - 35
           end
         end
         if(@resizable_el_style == '')
           @resizable_el_style = 'width:460px;'
         end
         # container ID
         li_id = 'resize_'+common_detail.id.to_s
  %>
        <%if content%>
          <div class="item" id="<%=li_id%>" style="<%=li_style%>"> <!--  style="width:400px;height:500px;position:relative;float:left;"  xmlns="http://www.w3.org/1999/html"  -->
            <!-- span class="title"><%#=truncate(content.name, :length => 15, :separator => '..')%></span><span class="dragable"></span -->
            <%= hidden_field_tag 'content_id', content.id%>
            <div  id="doc_form">
                <%if content.source_type == "Image"%>
                            <%=render :partial=>"images/crop_images",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Video"%>
                            <%@video = Video.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"videos/video_content",:locals=>{:content=>content}%>
                <%elsif content.source_type == "File"%>
                            <%@add_file = AddFile.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"add_files/edit_content_form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Text"%>
                            <%@text = ActiveRecord::Base::Text.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"texts/edit_text_form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Misc"%>
                            <%@text = ActiveRecord::Base::Text.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"miscs/form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "AddForm"%>
                            <%@from_content=true%>
                            <%=render :partial=>"add_forms/form",:locals=>{:content=>content}%>
                <%end%>
              <%= hidden_field_tag "style_position[#{@bloc_id}]",''%>
              <%= hidden_field_tag "list_order[#{@bloc_id}]",''%>
              <%= hidden_field_tag "iwidth[#{@bloc_id}]",''%>
              <%= hidden_field_tag "iheight[#{@bloc_id}]",''%>
            </div>
            <script>resizer(<%=@bloc_id%>, <%=(content.source_type == 'Image')%>);</script>
          </div>
      <%elsif common_detail.content_type=='Misc' and !common_detail.misc_id.nil?%>
          <div class="item" id="<%=li_id%>" style="<%=li_style%>">  <!-- width:506px;height:500px;position:relative;float:left; -->
            <div id="misc_existed"></div>
            <%= hidden_field_tag "style_position[#{@bloc_id}]",''%>
            <%= hidden_field_tag "list_order[#{@bloc_id}]",''%>
            <%= hidden_field_tag "iwidth[#{@bloc_id}]",''%>
            <%= hidden_field_tag "iheight[#{@bloc_id}]",''%>
          </div>
          <script>
            $(function() {
                $.ajax({
                    type: 'get',
                    url: '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/miscs/#{common_detail.misc_id}/show_block"%>',
                    success: function (data) {
                        $('#<%=li_id%> #misc_existed').html(data);
                        initMisc('<%=li_id%>', '<%=(@image_w!='' ? @image_w.to_s+'x'+@image_h.to_s : '400x400')%>');
                        $('#<%=li_id%> #mapObj .resizable_content').attr('style','<%=@resizable_el_style%>');
                        resizer(<%=@bloc_id%>, true);
                        fitgrid();
                    }
                });
            });
          </script>
      <%end%>
    <%end%>
<%end%>