<%if params[:content_lib] or @site_page%>
<%common_details=@site_page.content_libraries_site_pages%>
<%common_details.each do |common_detail|%>
  <%content = common_detail.content_library%>
  <%if content%>
  <li class="item" id = "resize_<%=content.id%>" style="width:400px;height:300px;position:relative;float:left;">
												<span class="title"><%=truncate(content.name, :length => 15, :separator => '..')%></span><span class="dragable"></span>
												<%= hidden_field_tag "content_id", content.id%>
												<%= hidden_field_tag "style_position",""%>
												<div  id="doc_form">
												<%if content.source_type == "Image"%>
															<%=render :partial=>"images/crop_images",:locals=>{:content=>content}%>
												<%elsif content.source_type == "Video"%>
															<%=render :partial=>"videos/video_content",:locals=>{:content=>content}%>
												<%elsif content.source_type == "File"%>
															<%@add_file = AddFile.find(content.source_id)%>
															<%@from_content=true%>
															<%=render :partial=>"add_files/edit_content_form",:locals=>{:content=>content}%>
												 <%elsif content.source_type == "Text"%>
															<%@text = ActiveRecord::Base::Text.find(content.source_id)%>
															<%@from_content=true%>
															<%=render :partial=>"texts/edit_text_form",:locals=>{:content=>content}%>
												  <%elsif content.source_type == "Misc"%>
															<%@text = ActiveRecord::Base::Text.find(content.source_id)%>
															<%@from_content=true%>
												  <%elsif content.source_type == "AddForm"%>
															<%@from_content=true%>
															<%=render :partial=>"add_forms/form",:locals=>{:content=>content}%>
												<%end%>
												</div>
											
<script>											
$('#resize_<%=content.id%>').resizable({
			maxHeight: 250,
			maxWidth: 350,
			minHeight: 150,
			minWidth: 200
});

</script>
</li>
<%end%>
<%end%>
<%end%>
