<%if params[:content_lib] or @site_page%>
  <%common_details=@site_page.content_libraries_site_pages.order('list_order')%>
  <%common_details.each do |common_detail|%>
      <%content = common_detail.content_library%>
      <%if content%>
         <li class="item" id="resize_<%=content.id%>" style="<%=common_detail.position%>"> <!--  style="width:400px;height:500px;position:relative;float:left;" -->
            <!-- span class="title"><%#=truncate(content.name, :length => 15, :separator => '..')%></span><span class="dragable"></span -->
            <%= hidden_field_tag 'content_id', content.id%>
            <%= hidden_field_tag "style_position[#{content.id}]",''%>
            <%= hidden_field_tag "list_order[#{content.id}]",''%>
            <%= hidden_field_tag "src_type[#{content.id}]", content.source_type%>
            <%@bloc_style=common_detail.position%>
            <div  id="doc_form">
                <%if content.source_type == "Image"%>
                            <%=render :partial=>"images/crop_images",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Video"%>
                            <%@video = Video.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"videos/video_content",:locals=>{:content=>content}%>
                <%elsif content.source_type == "File"%>
                            <%@add_file = AddFile.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"add_files/edit_content_form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Text"%>
                            <%@text = ActiveRecord::Base::Text.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"texts/edit_text_form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "Misc"%>
                            <%@text = ActiveRecord::Base::Text.find(content.source_id)%>
                            <%@from_content=true%>
                            <%=render :partial=>"miscs/form",:locals=>{:content=>content}%>
                <%elsif content.source_type == "AddForm"%>
                            <%@from_content=true%>
                            <%=render :partial=>"add_forms/form",:locals=>{:content=>content}%>
                <%end%>
            </div>
            <script>
                // TODO: if the image need to be resized by dragging? find it.. below code can help a bit!
                <%#if content.source_type == "Image"%>
                //alsoResize: '#resize_<%#=content.id%> .resizable_content .objectContent img',
                <%#end%>
                $('#resize_<%=content.id%> .resizable_content').resizable({
                    maxHeight: 250,
                    maxWidth: 350,
                    minHeight: 150,
                    minWidth: 200,
                    handles: 'se',
                    resize: function(event, ui){
                        // init default margin and find the increased width & height
                        // TODO: find a way to determine the original right/bottom margins of the original parent-li element?
                        var _dm = 20,
                            _newmr = (ui.size.width > ui.originalSize.width) ? (ui.size.width - ui.originalSize.width) + _dm : _dm,
                            _newmb = (ui.size.height > ui.originalSize.height) ? (ui.size.height - ui.originalSize.height) + _dm : _dm;
                        // now add the default margin with the above diff to right/bottom margins
                        $(ui.originalElement).parent().parent().parent().css({marginRight: _newmr, marginBottom: _newmb, width: ui.size.width, height: ui.size.height});
                    }
                });
            </script>
         </li>
      <%elsif common_detail.content_type=="Misc"%>
          <li class="item"  style="width:506px;height:500px;position:relative;float:left;">
            <div id="misc_existed"></div>
          </li>
          <script>
            $(function() {
                $.ajax({
                    type: "get",
                    url: '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/miscs/new?from_existing_content=true"%>',
                    success: function (data) {
                        $('.misc_form div#doc_form').remove();
                        $('#misc_existed').html(data)
                    }
                });
            });
          </script>
      <%end%>
  <%end%>
<%end%>