                                    <span class="dndhandle">&nbsp;</span>
                                    <span class="userName PcName" id="<%=pc.id%>">
                                      <%=pc.name%>
                                    </span>
                                    <span class="group">
                                      <span>
                                        <a href="#"><img src="/assets/btn_deleteActive.png" width="40" height="20"></a>
                                      </span>
                                      <span>
                                        <input name="" type="text" class="modifierTextBg" value="<%=pc.price_modifier_value%> <%=pc.price_modifier %>" size="4" maxlength="6">
                                      </span>
                                    </span>
                                    <span class="status">
                                      <a rel="<%=pc.is_active%>"  href="<%=update_pc_site_product_category_path(@site, pc, :product_category=>{:is_active => !(pc.is_active)})%>" class= <%=pc.is_active ? 'on' : 'off' %>>
                                      </a>
                                    </span>
                                    <span class="removeBtn">
                                      <%= render :partial => 'shared/alert_box', :locals => {:obj => pc,:path => delete_site_product_category_path(@site, pc),:img_path => "/assets/btnDelete.png"}%>
                                    </span>