<%= stylesheet_link_tag "jquery.loadmask"%>
<%= javascript_include_tag 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.jeditable'%>
<%= javascript_include_tag 'js/nestysorty','js/jquery.json','js/jquery.loadmask'%>
<script type="text/javascript" src="/assets/alert_box.js"></script>

<div class="content-section categoryMain">
    <div class="pages-main">
      <div class="pages-wrapper">
        <div class="usersLeftPane left">
          <div class="title">Categories<span class="help"><a href="#"></a></span></div>
        </div>
        <div class="searchContent right">
          <%= form_tag search_site_product_categories_path(@site) do %>
            <input type="text" id="query" name="query" placeholder="search"><span class="searchIcon"><a href="#"></a></span>
	    	 <% end %>
	    </div>
        <div class="site-users left">
          <div class="page-data clear">
            <div class="userGrid productGrid">
              <div class="userGridHeader">
                <ul class="ConLibraHeads">
                  <li> <span class="userName">Category Name</span> <span class="group">Price Modifier</span> <span class="created">Enabled</span> </li>
                </ul>
              </div>
              <div class="userGridBody">
                <div id="products1">
                  <div class="scrollbar">
                    <div class="track">
                      <div class="thumb">
                        <div class="end"></div>
                      </div>
                    </div>
                  </div>
                  <div class="viewport">
                    <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                    <div class="overview">
                      <ul class="ConLibra" id="list-container">
                        <% @product_categories.each do |parentpc| %>
                          <li class="sortable-element-class" id="page_<%=parentpc.id%>">
                            <%= render :partial=>'product_categories/a_product_category', :locals=>{:pc => parentpc}%>
                            <%if parentpc.children.length > 0%>
                                <ul class="ConLibra">
                                  <%parentpc.children.each do |subpc|%>
                                      <li id="page_<%=subpc.id%>" class='sortable-element-class'>
                                        <%= render :partial=>'product_categories/a_product_category', :locals=>{:pc => subpc}%>
                                        <%if subpc.children.length > 0%>
                                            <ul class="ConLibra">
                                              <%subpc.children.each do |ipc|%>
                                                  <li id="page_<%=ipc.id%>" class='sortable-element-class'>
                                                    <%= render :partial=>'product_categories/a_product_category', :locals=>{:pc => ipc}%>
                                                  </li>
                                              <%end%>
                                            </ul>
                                        <%end%>
                                      </li>
                                  <%end%>
                                </ul>
                            <%end%>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="userGridFooter"></div>
            </div>
          </div>
          <div class="addNewUserBtn">
            <a class="addNewUser" rel="facebox" href="<%=new_site_product_category_path(@site)%>" class="addProductBtn">add product category</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('#products1').tinyscrollbar();
		$(".ConLibra li:even").addClass("alt");

    // $("ul.ConLibra li").click(function(){
    //  var $this = $(this);
    //  //$this.parent().find('.misc img').hide();
    //  
    //  if(!$this.hasClass("selected")){
    //    $("ul.ConLibra li").removeClass("selected");
    //    $("ul.ConLibra li").find('.pointer').hide();
    //    $this.addClass("selected");
    //    $this.find('.pointer').show();
    //    //$this.find('.misc img').show();
    //  }
    //       return false;
    //  
    // })
    
    var edittext_url = "<%=update_name_site_product_categories_path(@site)%>";
    get_Inline_editors_ready('.PcName', edittext_url)    
    
	})
</script>
<script type="text/javascript" src="/assets/alert_box.js"></script>
<script>
$("span.status a").live("click", function(){
  var link = $(this);
  $.ajax({
    type: "GET",
    url: link.attr('href'),
    success: function(result){        
      var new_rel = link.attr('rel') == 'true' ? 'false' : 'true';
      var new_link = (link.attr('rel') == 'true' ? link.attr('href').replace('false', 'true') : link.attr('href').replace('true', 'false'));
      var new_class =  link.attr('class') == 'on' ? 'off' : 'on';
      link.parent().html("<a rel="+ new_rel  + " href="+ new_link +" class="+ new_class +"></a>")
  }});
 return false;
});
</script>
<script type="text/javascript">

    $('ul#list-container').nestysorty({
        'callback':function(sortedata) {
            $('#list-container').mask("Saving...");
            $(sortedata).each(function(index, item) {
                var li = item[0];
                if(li.title) {
                    if(!(index%2)) {
                        $('#'+li.title).addClass('alt');
                        $(li.children).each(function (ix, child) {
                            if(child.title) {
                                if((ix%2))
                                    $('#'+child.title).addClass('alt');
                                else
                                    $('#'+child.title).removeClass('alt');
                            }
                        });
                    }
                    else $('#'+li.title).removeClass('alt');
                }
            });
            //console.debug('d: ',$.toJSON(sortedata)); $('#list-container').unmask(); return;
            // convert the data to a json string and post it to the server
            $.post( '/sites/<%=@site.id%>/product_categories/reorder', { data: $.toJSON(sortedata) },
                    function( data ) {
                        $('#list-container').unmask();
                    }
            );
        }
    });

</script>
