<div class="subTab-Content left subTab-Content-tab" id='text_form' style='display:none'>
	<div class="resetAll"><a href="#"></a></div>
	<div class="colum-wrapper left">
		<div class="changePanel">
			<label>color</label>
			<div class="palletBox">
				<div class="solidColor left">
				  <%=hidden_field_tag :text_color, @site_style.text_style[:text_color], :name=>"text[text_color]"%>
  				<span class="piller"></span><span class="add"></span>
  			</div>
				<span class="textColor text_color_alt">text color</span>
			</div>
		</div>
		<div class="changePanel">
			<label>opacity</label>
			<div class="palletBox">
			  <div class="slider-alpha" id='opacity_text'>
				<div class="alphaPointer"><span id="opacity_text_val" class="val"><%=@site_style.text_style[:text_opacity]%></span></div>
				<%=hidden_field_tag :text_opacity, '', :name=>"text[text_opacity]"%>
				</div>
			</div>
		</div>
	</div>
	<div class="colum-wrapper last left">
		<div class="changePanel">
			<label>text shadow</label>
			<div class="palletBox">
				
				<div class="boxShadow right">
					<div class="slider-boxShadow left" id='textshadow'>
						<div class="amt"><span id='text_shadow_val1' class="val">amt</span></div>
						<div class="spread"><span id='text_shadow_val2' class="val">spread</span></div>
						<%=hidden_field_tag :text_shadow, @site_style.text_style[:text_shadow], :name=>"text[text_shadow]" %>
					</div>
				</div>
				
			</div>
		</div>
		<div class="changePanel">
			<label>shadow direction</label>
			<div class="palletBox">
				<div class="tileBox left">
					<ul>
					  <%["topLeft", "topCenter", "topRight", "middleLeft", "middleCenter", "middleRight", "bottomLeft", "bottomMiddle","bottomLeft"].each do |ld|%>
						<li id="<%=ld%>" <%if(ld == @site_style.text_style[:text_shadow_direction])%>
						  class = 'active'
						  <%end%>></li>
					<% end %>
					</ul>
					<%= hidden_field_tag :text_shadow_direction, @site_style.text_style[:text_shadow_direction], :class=>"pallet_box", :name=>"text[text_shadow_direction]"%>
			</div>
			<div class="textShadowPrev left">
				<div class="textShadow">shadow</div>
			</div>
			</div>
		</div>
	</div>
</div>
