  <%= stylesheet_link_tag "layout", "siteinfo", "pages", "content", "themes", "optional","users","modal_layout" ,"imagePicker"%>
  <%= javascript_include_tag 'jquery.form.js'%>
  <%= javascript_include_tag 'jquery.tinyscrollbar.min.js'%>
  <%= javascript_include_tag 'js/jquery.loadmask'%>
        <script type="text/javascript">
        	$(document).ready(function(){
        		$('#galleryListView').tinyscrollbar();
        		$('#galleryBoxView').tinyscrollbar();
        		
        		$(".ConLibra li:even").addClass("alt");
        		//$(".ConLibra.thumbs li:even").removeClass("alt");
        		
        		$("ul.ConLibra li").each(function(){
        			var $this = $(this);
        			if($this.hasClass("selected")){
        				//$this.find('.pointer').show();
        			}
        		})
        		$("ul.ConLibra li").click(function(){
                    // mask face-box so that info is fetched n loaded
                    $('#facebox').mask('Loading...');
                    var $this = $(this);
        			//$this.parent().find('.misc img').hide();
        			if(!$this.hasClass("selected")){
        				$("ul.ConLibra li").removeClass("selected");
        				//$("ul.ConLibra li").find('.pointer').hide();
        				$this.addClass("selected");
        				//$this.find('.pointer').show();
        				//$this.find('.misc img').show();
        			}
                    // manipulate the selected bg-image
                    var sli = this, img_id = this.id.match(/\d+/g);
                    if(!$(sli).hasClass('thumbList')){
                        // this is to retrieve the url
                        sli = $('#thumb-image-'+img_id);
                    }
                    // map the bg-image to the style editor
                    var bg_img_holder = $('#background_form .noImage');
                    $(bg_img_holder).css('display', 'inline-block');
                    $('#background_form .noImage').empty();
                    $('#background_form .noImage').append('<img src="'+sli.children('img').attr('src')+'" width="140" height="36" />');
                    // saving the image-id
                    $('#bg_image').attr('value', img_id);
                    $.get( '/sites/<%=@site.id%>/site_styles/'+img_id+'/bg_image',
                            function( data ) {
                                // load-in the image preview
                                $('.showImgDetail .imgPreview').empty();
                                $('.showImgDetail .imgPreview').append('<img src="'+sli.children('img').attr('src')+'" />');
                                $('.showImgDetail .imgPreview').css('text-align', 'center');
                                // load the image info
                                var val_spans = $('.selectedImgDetail').children('span.val');
                                $(val_spans[0]).text(data.image.name);
                                $(val_spans[0]).css('color', 'white');
                                $(val_spans[1]).text(data.image.upload_file_name);
                                $(val_spans[1]).css('color', 'white');
                                $(val_spans[2]).text(data.image.categories);
                                $(val_spans[2]).css('color', 'white');
                                //; now unmask
                                $('#facebox').unmask();
                            }
                    );

                    return false;
        			
        		})
        		$("ul.galleryViews li").click(function(){
        			var $this = $(this);
        			if(!$this.hasClass("active")){
        				$("ul.galleryViews li").removeClass("active");
        				$this.addClass("active");
        				//alert($this.index());
        				$(".galleryMain").hide();
        				$("#gallery"+($this.index()+1)).show();
        				$('#galleryListView').tinyscrollbar();
        				$('#galleryBoxView').tinyscrollbar();
        			}
        		})
        	})
        </script>

  <div class="main-container imgPicker">
			<div class="header">Choose or Upload an Image<span class="helpIcon"></span></div>
			<div class="main-content">
				<div class="imgPicker-wrapper">
					<div class="imgGallery left">
						<div class="galleryNav">
							<div class="searchImage left">
								<input type="text" placeholder="search">
								<span class="searchIcon right"><a href="#"></a></span>
							</div>
							<div class="views right">
								<ul class="galleryViews">
									<li class="listView active"></li>
									<li class="boxView"></li>
								</ul>
							</div>
						</div>
						<div class="galleryMain clear" id="gallery1">
							<div class="userGrid">
								<div class="userGridHeader">
									<ul class="ConLibraHeads">
										<li>
											<span class="imgName">Image Name</span>
											<span class="category">Category</span>
											<span class="deleteBtn"></span>
										</li>
									</ul>
								</div>
								<div class="userGridBody">
									<div id="galleryListView">
										<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
										<div class="viewport">
		 									<div class="overview">
		    									<ul class="ConLibra">
		    								      <%@image_pickers = Image.all%>
											      <% @image_pickers.each do |image_picker| %>
		    										<li id="tr-image-<%= image_picker.id %>">
												        <span class="imgName"><%= image_picker.upload_file_name  %></span>
		    										    <span class="category"><%= image_picker.upload_content_type  %></span>
												        <span class="deleteBtn"><a href="#"><img src="/assets/img/btnDelete.png" border="0" /></a></span>
												    </li>
											      <% end %>
		    									</ul>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    					<div class="userGridFooter"></div>
		    				</div>
						</div>
						<!-- end of list view -->
						<!-- start of box view -->
						<div class="galleryMain clear" id="gallery2" style="display: none">
							<div class="userGrid">
								<div class="userGridHeader">
									<ul class="ConLibraHeads">
										<li>
											Image Thumbnails
										</li>
									</ul>
								</div>
								<div class="userGridBody">
									<div id="galleryBoxView">
										<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
										<div class="viewport" id="bgimageslist">
                                          <%#=render :partial=>'image_list', :locals => { :success => true } %>
                                          <div class="overview">
                                            <ul class="ConLibra thumbs">
                                              <% @image_pickers.each do |image_picker| %>
                                              <li class="thumbList" id="thumb-image-<%= image_picker.id %>">
                                                <% image = image_picker.upload.url(:thumb).split('?')[0] %>
                                                <img src="<%= image %>"  border="0"  width="100px" height="80px"/>
                                                <span class="imgDelete"><a href="#"><img src="/assets/img/btn_ImgDelete.png" border="0" /></a></span>
                                              </li>
                                              <% end %>
                                            </ul>
                                          </div>
                                        </div>
		    						</div>
		    					</div>
		    					<div class="userGridFooter"></div>
		    				</div>
						</div>
						<!-- end of box view-->
					</div>
						<%= form_for :image, :url => "/sites/#{@site.id}/site_styles/bgimage_create", :html => {:multipart => true } do |f| %>
					<div class="imgDetailColumn left">
						<div class="addImageToLib">
							<h3>Add Image to Library</h3>
							<div class="addImgBar"><span class="imgSelection left">
								<%= f.file_field :upload %>
							</div>
							<div class="imgTypeThumb left"></div>
							<div class="setDetail left">
								<span class="chooseImgName">
                                  <%= f.text_field :name, :placeholder => 'choose image name' %>
                                </span>
								<span class="chooseCategory">
                                  <%= f.text_field :categories, :placeholder => 'add category' %>
                                  <span class="addCat right">
                                    <img src="/assets/img/btnAddNote.png" border="0" />
                                  </span>
                                </span>
								<span class="addedCategory">category 1, category 2</span>
								<span class="addImgeBtn clear right">
                                  <button class="blueBtn" id="addImageBtn" type="button">add image to library</button>
                                </span>
							</div>
						</div>
						<% end %>
						<div class="showImgDetail">
							<div class="selectedImgDetail">
								<span class="key">image name :</span>
								<span class="val"></span>
								<span class="key">file name :</span>
								<span class="val"></span>
								<span class="key">categories :</span>
								<span class="val"></span>
							</div>
							<div class="imgPreview"><img src="assets/images/sampleImg.png" /></div>
						</div>
					</div>
					
				</div>

			</div>
			<div class="footer-section">
				<div class="leftBtns"><button class="secondary" id="cancelBtn">cancel</button> </div>
				<div class="rightBtns"><button class="primary" id="saveBtn">use selected image</button> </div>
			</div>
		</div>


<script>
    // wait for the DOM to be loaded
    $(document).ready(function() {
        $('#addImageBtn').click(function(){
            // nwo upload the bg-image selected
            bgimageupload(this);
        });

        $('#cancelBtn').click(function(){
            $(document).trigger('close.facebox');
        });

        $('.pageLayout').click(function(){
            $('#site_page_page_layout').attr('value', $(this).attr('id'));
            $(this).attr('style', 'border:1px;');
            return false;
        });

        $('#saveBtn').click(function(){
            // TODO: find the selected bg-image ? then send to parent for mapping ?? close the facebox!
            //  ---> as of now it's handled in <li>.onclick above
            $(document).trigger('close.facebox');
        });
    });
</script>