<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<script src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<%= javascript_include_tag "jquery.colorpicker" %>
<%= stylesheet_link_tag "colorpicker" %>
<%= javascript_include_tag "jquery.ui.colorpicker-nl" %>
<script>
$(function(){
  $('#text_color').colorpicker({
      onClose: function(hex, rgba, inst){
          console.log('onClose: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      onSelect: function(hex, rgba, inst){
          console.log('onSelect: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      showOn: 'both',
      showSwatches: true,
      showNoneButton: true,
      buttonColorize: true,
      altField: '.text_color_alt',
      limit: 'websafe',
      parts: 'full',
      altProperties: 'color'
  });
  
  $('#block_color').colorpicker({
      onClose: function(hex, rgba, inst){
          console.log('onClose: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      onSelect: function(hex, rgba, inst){
          console.log('onSelect: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      showOn: 'both',
      showSwatches: true,
      showNoneButton: true,
      buttonColorize: true,
      altField: '.cp2-alt',
      limit: 'websafe',
      parts: 'full',
      altProperties: 'color'
  });
  
  $('#bg_color').colorpicker({
      onClose: function(hex, rgba, inst){
          console.log('onClose: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      onSelect: function(hex, rgba, inst){
          console.log('onSelect: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
      },
      showOn: 'both',
      showSwatches: true,
      showNoneButton: true,
      buttonColorize: true,
      altField: '.bg_color-alt',
      limit: 'websafe',
      parts: 'full',
      altProperties: 'color'
  });

  
});
</script>
<div class="themes-main">
	<div class="themes-wrapper">
    <%=render :partial => "chooser_tabs"%>
		<div class="theme-content" id="content_1" style="display:none"></div>
		<div class="theme-content" id="content_2" style="display:none"></div>
    <div class="theme-content" id="content_3">
    	<div class="theme-SubTabs left">
    		<ul>
    		  <%["text", "background", "block"].each do |d|%>
            <li class=<%=@style_type == d ? "active" : ''%>>
              <span><a href="#" class='style_tab' rel='<%=d%>' ><%=d.capitalize%></a></span>
            </li>
    			<% end %>
    		</ul>
    	</div>
    	<div class="subTab-Content left" style="display: none"></div>
    	<%= form_tag :url=>{:action=>:create} do |f| %>
        <%=render :partial=>"background_form"%>
        <%=render :partial=>"block_form"%>
        <%=render :partial=>"text_form"%>
      <%end%>
    	</div>
    	<div class="subTab-Content left" style="display: none"></div>
    </div>
	  <div class="themes-board">
	    <div class="grid-board">
		  </div>
	  </div>
	</div>
</div>
<script>

  $(document).ready(function(){
  	$('.tileBox ul li').click(function(){
  	  var $this = $(this);
  	  $this.parent().find('li.active').removeClass('active');
  	  $this.addClass('active');
  	  $this.parent().siblings(".pallet_box").attr('value', $this.attr('id'));
    })
    // $('.tileBox ul').find('li.active').parent().siblings(".pallet_box").attr('value');
    // $('#cp1').colorpicker({
    //     onClose: function(hex, rgba, inst){
    //         console.log('onClose: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
    //     },
    //     onSelect: function(hex, rgba, inst){
    //         console.log('onSelect: ' + hex + ', (' + rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + rgba.a + ')');
    //     },
    //     showOn: 'both',
    //     showSwatches: true,
    //     showNoneButton: true,
    //     buttonColorize: true,
    //     altField: '.cp1-alt',
    //     limit: 'websafe',
    //     parts: 'full',
    //     regional: 'nl',
    //     altProperties: 'background-color,color'
    // });
    
  })
  $( "#opacity" ).slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: refreshOpacity,
  	change: refreshOpacity});

  function refreshOpacity() {
    var val = $("#opacity").slider("value")
    // $("#swatch").css("background-color", "rgb(" + red + ", " + green + ", " + blue + ")");
    // $("#swatch").css("opacity", transparency);
    // $(".hexResults").text("#" + hex);
    // $(".rgbResults").text("rgb(" + red + ", " + green + ", " + blue + ")");
  	$("#opacity_val").text(val + "%");
  	$("#bg_color_opacity").attr('value', val + "%")
  	return true;
    // $(".rgbaResults").text("rgba(" + red + ", " + green + ", " + blue + ", " + transparency + ")");
  }
  
  $( "#opacity_block" ).slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: refreshBlockOpacity,
  	change: refreshBlockOpacity});
  
  
  function refreshBlockOpacity() {
    var val = $("#opacity_block").slider("value")
		$("#opacity_block_val").text(val + "%");
  	$("#block_opacity").attr('value', val + "%");
	}

  $( "#opacity_text" ).slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: refreshTextOpacity,
  	change: refreshTextOpacity});
  
  
  function refreshTextOpacity() {
    var val = $("#opacity_text").slider("value")
		$("#opacity_text_val").text(val + "%");
		$("#text_opacity").attr('value', val + "%");
	}

  $( "#borderwidth" ).slider({
    orientation: "horizontal",
    min: 0,
    max: 10,
    value: 0,
    slide: refreshBwidth,
		change: refreshBwidth});
    
    function refreshBwidth() {
      var val = $("#borderwidth").slider("value")
    	$("#border_width_val").text(val + "px");
		  $("#border_width").attr('value', val + "px");
    }
  	
  	$( "#borderradius" ).slider({
      orientation: "horizontal",
      min: 0,
      max: 10,
      value: 0,
      slide: refreshBradius,
  		change: refreshBradius});

      function refreshBradius() {
        var val = $("#borderradius").slider("value")
    		$("#border_radius_val").text(val + "px");
  		  $("#border_radius").attr('value', val + "px");
    	}
    	
    $( "#boxshadow" ).slider({
      orientation: "horizontal",
      range:true,
      min: 0,
      max: 10,
      values: [4, 6],
      slide: refreshShadow,
    	change: refreshShadow});

      function refreshShadow() {
        var val1 = $("#boxshadow").slider("values")[0];
        var val2 = $("#boxshadow").slider("values")[1];
    		$("#box_shadow_val1").text(val1 + "px");
        $("#box_shadow_val2").text(val2 + "px");
        $("#box_shadow").attr('value', val1+"px"+" "+val2+"px");
  		  
    	}
    $("#textshadow").slider({
      orientation: "horizontal",
      range:true,
      min: 0,
      max: 10,
      values: [4, 6],
      slide: refreshTextShadow,
    	change: refreshTextShadow});

      function refreshTextShadow() {
        var val1 = $("#textshadow").slider("values")[0];
        var val2 = $("#textshadow").slider("values")[1];
    		$("#text_shadow_val1").text(val1 + "px");
        $("#text_shadow_val2").text(val2 + "px");
        $("#text_shadow").attr('value', val1+"px"+" "+val2+"px");
    	}

  	refreshOpacity();
  	refreshBwidth();
    refreshBradius();
    refreshShadow();
    refreshTextShadow();
    refreshTextOpacity();
    refreshBlockOpacity();
    
  $('.style_tab').click(function(){
    $(".subTab-Content-tab").hide();
    $("#"+$(this).attr('rel')+'_form').show();
    $(this).parent().parent().siblings(".active").removeClass('active');
    $(this).parent().parent().addClass('active');
  
  });

  $('#form_submit').click(function(){
  	  //changes for flow. Rajesh pls take care of this.
      // window.location.href = "/sites/<%=params[:site_id]%>/optional"
   $('form')[0].submit();
  });
</script>