<div >
	<h3>name:</h3>
	<div class="userDetailSet">
		<label><%= @site_vendor.name%></label>
	</div>
	<h3>address:</h3>
	<div class="userDetailSet">
		<label><%= @site_vendor.address_line1%> </label>
		<label><%= @site_vendor.address_line2%></label>
		<label><%= @site_vendor.city%> </label>
		<label><%= @site_vendor.zip_code%> </label>
	</div>
	<div class="userDetailSet">
		<h3>phone number:</h3>
		<label><%= @site_vendor.phone_number%></label>
	</div>
	<div class="userDetailSet">
		<h3>email:</h3>
		<label><%= @site_vendor.email%></label>
	</div>
	<div class="userDetailSet">
		<h3>account number:</h3>
		<label><%= @site_vendor.account_number%></label>
	</div>
</div>