<%= form_for([Site.find(params[:site_id]),@try_it_image]) do |f| %>
<div class="hotspotMid">
    <select class="noEdit" name="select">
        <option>hotspot type-eye wear</option>
    </select>
    <p>
        Drag left or right eye hotspot to position on frame, opposite eye hotspot will be automatically adjusted.
    </p>
    <div class="hotspotArrows">
        <img width="196" height="29" src="/assets/dragSpot.png">
    </div>
    <div class="hotspotWindow">
        <div class="hotspotImg" id="droppable">
          <div id="hotspotLeft" class="draggable" style="<%=@try_it_image.left_eye_position%>">
              <img width="53" height="52" src="/assets/dragleftIcon.png">
          </div>
          <div id="hotspotRight" class="draggable" style="<%=@try_it_image.right_eye_position%>">
              <img width="53" height="52" src="/assets/dragrightIcon.png">
          </div>
            <img width="189" height="164" src="<%=@try_it_image.upload%>">
        </div>
        <div class="resetBtn">
        </div>
    </div>
    <dl class="noMargin tryit clear">
        <dt>
            name
        </dt>
        <dd>
        	<%=hidden_field_tag "try_it_image[left_eye_position]","",:id=>"left_eye_position"%>
			<%=hidden_field_tag "try_it_image[right_eye_position]","",:id=>"right_eye_position"%>
        	<%=f.text_field :name,:class=>"inputReadOnly"%>
        </dd>
    </dl>
	<%=f.submit "save changes",:class=>"greenBtn Btncenter"%>
</div>
<%end%>

<script>
	$(function() {
		$( ".draggable" ).draggable({ revert: "invalid" });;
		$( "#droppable" ).droppable({
			drop: function( event, ui ) {
				$( this )
					.addClass( "ui-state-highlight" )
					.find( "p" )
					.html( "Dropped!" );
				left_style_position = $('#hotspotLeft').attr('style');
				right_style_position = $('#hotspotRight').attr('style');
				$('#left_eye_position').attr('value',left_style_position);
				$('#right_eye_position').attr('value',right_style_position);
			}
		});
	});
	</script>