<div class="content-section">
    <div class="siteInfo-main cartBg featuresBg">
        <div class="cartColumsMain3">
            <div class="rowDiv">
                <h2>try it on setup <span><a href="$"><img src="/assets/helpIcon.png"></a></span></h2>
                <dl>
                    <dt>
                        Some text about managing vendors. Some text about managing vendors. Some text about managing vendors.
                    </dt>
                </dl>
            </div>
        </div>
        <div class="cartCollumsBottom">
            <div class="rowDiv2">
                <div class="content-section tryItonDiv">
                    <div class="pages-main">
                        <div class="pages-wrapper">
                            <div class="rightButtonDiv">
                            	<div class="addNewUserBtn"><a class="addNewUser" href="/sites/<%=params[:site_id]%>/try_it_images/new" rel="facebox">add image</a></div>
                            </div>
                            <div class="site-users left">
                                <div class="rowLeftDiv">
                                    <div class="userGrid cartGrid">
                                        <div class="userGridHeader noRadius">
                                            <ul class="ConLibraHeads">
                                                <li>
                                                    <span class="ImgName">Image</span>
                                                    <span class="cName">Name</span>
                                                    <span class="cName">type</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="userGridBody">
                                            <div id="scrollbar1">
                                                <div class="scrollbar" style="height: 432px;">
                                                    <div class="track" style="height: 432px;">
                                                        <div class="thumb" style="top: 0px; height: 397.072px;">
                                                            <div class="end">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="viewport">
                                                    <div class="shadows">
                                                        <span class="topShadow"></span>
                                                        <span class="bottomShadow"></span>
                                                    </div>
                                                    <div class="overview featureProduct" style="top: 0px;">
                                                        <ul class="ConLibra ">
                                                            <%TryItImage.all.each do |tim| %>
                                                            <li class="alt" onclick="show_image('<%=tim.id%>');">
                                                                <span class="ImgName"><img width="46" height="38" src="<%=tim.upload%>"></span><span class="cName"><%=tim.name %></span>
                                                                <span class="cName arrow2"><%=tim.hotspot_type %></span>
                                                                <span class="close1"><img border="0" src="/assets/btnDelete.png"></span>
                                                            </li><%end %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="userGridFooter">
                                        </div>
                                    </div>
                                </div>
								<div class="rowRightDiv" id="edit_image">
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function show_image(id){
        $.ajax({
            type: "get",
            url: '<%="/sites/#{params[:site_id]}/try_it_images/"%>' + id + '/edit',
            success: function(data){
                $('#edit_image').html(data)
            },
        })
    }
</script>
