<%= javascript_include_tag  'facebox'%>
<%= javascript_include_tag 'jquery.jeditable'%>

<% if @site_page && @site_page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@site_page.errors.count, "error") %> prohibited this site_link from being saved:</h2>

    <ul>
    <% @site_page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="pages-main">
	<div class="pages-wrapper">
		<div class="site-pages">
		<div class="title">Organize Site Pages <span class="help"><a href="#"></a></span></div>
			<div class="page-data">
			  <div class="userGrid">
  				<div class="userGridHeader">
  						<ul class="ConLibraHeads">
  							<li>
  								<span class="pageName">Page Name</span>
  								<span class="status"></span>
  								<span class="home">Home Page</span>
  								<span class="other">Other</span>
  								<span class="misc"></span>
  								<span class="misc"></span>
  								<span class="misc"></span>
  								<span class="misc"></span>
  							</li>
  						</ul>
  					</div>
  					<div class="userGridBody">
  						<ul class="ConLibra" id="list-container">
  						  <%@site_pages.each do |sp|%>
    							<li id="page_<%=sp.id%>" class='sortable-element-class'>
    								<span class="pageName" id="<%=sp.id%>"><%=sp.name%></span>
										<span class="status">
    								  <a rel ="<%=sp.is_active%>" href="<%=update_page_site_site_page_path(@site, sp, :site_page=>{:is_active => !(sp.is_active)})%>" class=<%=sp.is_active ? 'on' : 'off' %>></a>
    								</span>
    								<span class="home">
                      <a href="<%=update_page_site_site_page_path(@site, sp, :site_page=>{:is_home_page => true})%>">
                        <input type="radio" <%=sp.is_home_page ? 'checked' : '' %> class="styled" name="is_home_page"/>
      							  </a>
      							</span>
    								<span class="other">Other Info?</span>
    								<span class="misc">
    								  <a href="<%=copy_page_site_site_page_path(@site, sp)%>">
      							    <img src="/assets/btnCopy.png" border="0">
      							  </a>
    								</span>
    								<span class="misc">
    								  <a href="<%=seo_page_site_site_page_path(@site, sp)%>" rel='facebox'>
      							    <img src="/assets/btnSEO.png" border="0">
      							  </a>
    								</span>
    								<span class="misc">
    								  <a href="/sites/<%=@site.id%>/site_pages/<%=sp.id%>/content_libraries/search">
      							    <img src="/assets/btnEdit.png" border="0"></td>
      							  </a>
    								</span>
    								<span class="misc">
                      <%= render :partial=>'shared/alert_box', :locals=>{:obj => sp,
                         :path => destroy_page_site_site_page_path(@site, sp),
                         :img_path => "/assets/btnDelete.png"}%> 
    								</span>
    							</li>
    						<%end%>
  						</ul>
  					</div>
					<div class="userGridFooter"></div>
				</div>
			</div>
			<div class="rightBtns">
			  <a href='<%= new_site_site_page_path(:type=>'page') %>' rel="facebox" style="display:block; float:left;" class="addPage"></a>
        <span style="display:block; float:left;">&nbsp;&nbsp;</span>
        <a href='<%= new_site_site_page_path(:type=>'link') %>' rel="facebox" style="display:block; float:left;" class="addLink"></a>
        <span style="clear:both;"></span>
			</div>
		</div>
  <%= form_tag update_site_site_path(@site.id, :site_pages=>true) do |f| %>
    <%=hidden_field_tag :is_preview, false%>
    <!-- <div class="subNav">
      <div class="title">Choose Sub Nav Type <span class="help"><a href="#"></a></span></div>
        <div class="subNav-wrapper">
          <div class="subNav-section">
            <div>
              # <%=radio_button(:site, :site_nav_type, 'dropdown', :class=>"styled", :checked => true)%>use dropdown type
            </div>
            <div class="dropDownType"><img src="/assets/img_dropdown1.png" border="0"></div>
          </div>
          <div class="subNav-section">
            <div>
              # <%=radio_button(:site, :site_nav_type, 'sidebar', :class=>"styled")%>use left sidebar type</div>
            <div class="dropDownType"><img src="/assets/img_dropdown2.png" border="0"></div>
          </div>
        </div>
      </div>
    </div> -->
  <% end %>
</div>


<script type="text/javascript">
	var rename_url = "<%=rename_page_site_site_pages_path(@site)%>";
  $(document).ready(function(){
    get_editors_ready();
    // get_sortables_ready();
  	//$('#scrollbar1').tinyscrollbar();
  	$(".ConLibra li:even").addClass("alt");

  	$("ul.ConLibra li").click(function(){
  	  get_editors_ready();
      // get_sortables_ready();
  		var $this = $(this);
  		if(!$this.hasClass("selected")){
  			$("ul.ConLibra li").removeClass("selected");
  			$this.addClass("selected");
  		}
		
  	});
	});
	
  function editor_options(){
    return {
        type      : "text",
        width     : '120px',
        height    : '15px',
        tooltip   : 'Click to edit...',
        onsubmit  : function(){}
    }
  }
  
  function get_editors_ready(){  
    $('.pageName').editable(rename_url, editor_options());
    // get_sortables_ready();
  }
  var pages = <%=@site_pages.length > 0%>;
    $('#form_submit').click(submit_form);
    
    $('#preview_button').click(function(){
      $('#is_preview').attr("value", true)
      submit_form();
    });
  
  function submit_form(){
    if(pages){
      $('form')[0].submit();
    }else{
      alert("No pages added, Please add some pages");
    }
  }
  $("span.status a").live("click", function(){
    var link = $(this);
    $.ajax({
      type: "GET",
      url: link.attr('href'),
      success: function(result){        
        var new_rel = link.attr('rel') == 'true' ? 'false' : 'true';
        var new_link = (link.attr('rel') == 'true' ? link.attr('href').replace('false', 'true') : link.attr('href').replace('true', 'false'));
        var new_class =  link.attr('class') == 'on' ? 'off' : 'on';
        link.parent().html("<a rel="+ new_rel  + " href="+ new_link +" class="+ new_class +"></a>")
    }});
   return false;
  });
  
  $("span.home a").live("click", function(){
    var link = $(this);
    $.ajax({
      type: "GET",
      url: link.attr('href'),
      success: function(result){        
        // var new_rel = link.attr('rel') == 'true' ? 'false' : 'true';
        // var new_link = (link.attr('rel') == 'true' ? link.attr('href').replace('false', 'true') : link.attr('href').replace('true', 'false'));
        // var new_class =  link.attr('class') == 'on' ? 'off' : 'on';
        link.children.("input['radio']")[0].check();
    }});
   return false;
  });
  
</script>

<script type="text/javascript">
function get_sortables_ready(){  
  jQuery( function($) {
    $('#list-container').NestedSortable(
      {
        accept: 'sortable-element-class',
        opacity: 0.8,
        helperclass: 'helper',
        nestingPxSpace: 20,
        currentNestingClass: 'current-nesting',
        fx:400,
        revert: true,
        autoScroll: false

      }
    );
  });
}


</script>
<script type="text/javascript" src="/assets/alert_box.js"></script>

