<div class="siteInfo-main cartBg">
  <div class="cartColumsMain2">
    <div class="rowDiv">
      <h2>tax rate setup <span><a href="$"><img src="/images/helpIcon2.png"></a></span></h2>
      <dl>
        <dt>enable tax collection:</dt>
        <dd><span class="status">
            <%= link_to(enable_site_taxs_path(@site.id), :method => 'put') do %>
              <img class="<%= @site.enable_tax ? "on" : "off" %>" width="48" height="21" id="<%= @site.enable_tax ? "enable_authorize_net" : "disable_authorize_net" %>">
            <% end %>
          </span></dd>
      </dl>
      <dl>
        <dt>tax method:</dt>
        <dd>
          <% tax_gateway_id = TaxGateway.find_by_name('Striketron').id %>
          <%= radio_button_tag 'site[tax]', tax_gateway_id, @site.tax_gateway_id == tax_gateway_id, :id => 'tax_payment_eazy', :class => 'styled' %> easy tax rates
          </dd>
      </dl>
      <dl>
        <dt></dt>
        <dd>
          <% custom_tax_gateway_id = TaxGateway.find_by_name('Custom Tax Rates').id %>
          <%= radio_button_tag 'site[tax]', custom_tax_gateway_id, (@site.tax_gateway_id.blank? || @site.tax_gateway_id == custom_tax_gateway_id), :id => 'tax_payment_custom', :class => 'styled'  %> custom tax rates
          </dd>
      </dl>
    </div>
  </div>
  <div class="content-section customTax">


    <%= render :partial => 'custom_tax_list', :locals => {:custom_tax_gateway_id => custom_tax_gateway_id} %>


    <%= render 'tax_gateway' %>

  </div>
</div>

<script type="text/javascript">
  <% if @site.tax_gateway_id.blank? || @site.tax_gateway_id == custom_tax_gateway_id %>
    $('#custom_tax_gateway').show();
  <% else %>
    $('#easy_tax_gateway').show();
  <% end %>
</script>

<%= render :partial => 'new_tax_method', :locals => {:custom_tax_gateway_id => custom_tax_gateway_id} %>
