    <%=hidden_field_tag :from_content, @from_content%>
	<%=hidden_field_tag :content_type, 'Misc'%>
    <%=hidden_field_tag :list_order, 0%>
    <div class="contentObject" id="mapObj" style="width: 500px;">
        <div class="resizable_content">
        <div class="alphaBg"></div>
        <div class="expandable">
            <span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>'cleargrid();'%></span>
            <span class="drag"></span>

            <div class="objectContent">
                <div class="mapTitle">store map</div>
                <img src="" id="map-canvas-image"> </img>

            </div>
        </div>
        </div>
    </div>

    <%unless params[:from_existing_content] == "true"%>
    <div class="contentObject" id="mapAddr">
        <div class="dragableObject">
            <div class="dragable">
                <span class="drag"></span>
                <div class="dragContent">
                    <div class="mapDetail">
                      <span class="key">title :</span><span class="val"><input id="misc_title" name="misc[title]" type="text" value="store map"></span>
                      <span class="key">address :</span><span class="val"><input id="misc_address" name="misc[address]" type="text" value="<%= @address ? @address.address_string : "" %>" id="mapAddress"></span>
                      <%= hidden_field_tag 'misc[site_page_id]', @site_page.id%>
                      <%= hidden_field_tag 'misc[site_id]', @site.id%>
                      <%= hidden_field_tag 'misc_position', ''%>
                      <button id="reloadMap" class="primary">Reload</button>
                      <button id="saveMap" class="primary">Save</button>
                    </div>
                </div>
                <div class="dragContentBottom"></div>
            </div>
        </div>
    </div>
    <%end%>
	   
    <script type="text/javascript">
         $(document).ready(function(){
	     	initMisc();
            $('.resizable_content').resizable();
            $('#mapAddr div').draggable({ handle: 'span.drag' });
            $('#form_submit').unbind('click');
            $('#saveMap, #form_submit').click(function(){
                 $('#misc_position').attr('value', $('#mapObj .resizable_content').attr('style'));
                 $('#content_page_save').attr('action','<%="/sites/#{@site.id}/site_pages/#{@site_page.id}/miscs"%>');
                 $('#content_page_save').submit();
            });
         });
    </script>