<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<%= javascript_include_tag 'customSelect'%>

<div class="pages-main">
  <div class="pages-wrapper">
    <div class="usersLeftPane left">
      <div class="title">Manage Products <span class="help"><a href="#"></a></span></div>
      <div class="userPanel" style="height: 124px;">
        <form action=<%=search_products_site_products_path(:site_id=>@site.id)%> method="post" name="searchbox" id='searchbox'>
          <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="text" name='query' class="userSearchField" value="<%=params[:query]%>"> <img src="/assets/users/images/icon-user-search-field.png" style="position:absolute; right:0; top:0;">
        <!-- names -->
        <div class="selectDiv" style="left: 0; top: 31px;">
          <select name='search_on'class="select" title="Select one">
            <option selected value='all'>all columns</option>
            <option value='name'>Name</option>
            <option value='vendor'>Vendor Name</option>
            <option value='sku'>SKU</option>
          </select>
        </div><!-- end of search and select -->
        <div style="position: relative; top: 40px;">
        	<span class="showUser clear"><span class="userLastname">smith <img src="/assets/btn_deleteUser_active.png" /></span><span class="user-label">name</span></span> 
        	<span class="showUser clear"><span class="userLastname">admin X <img src="/assets/btn_deleteUser_disabled.png" /></span><span class="user-label">role</span></span> 
        </div>
        </div>
        <% # init current month n year
           _c_m = DateTime.now.month.to_s
           _c_y = DateTime.now.year.to_s
        %>
        
      <div class="userPanelDevider"></div>
      <div class="userPanel productp">
      	<div class="date-created"><input id="last_edited" class="styled" type="checkbox"><label for="shareThis">last edited</label></div>
        <div class="rangeSlider">
			<div class="edate-slider" id='dteRange'>
                  <%=hidden_field_tag :last_edited_from, "#{_c_y+'-'+_c_m+'-'+'7'}"%>
                  <%=hidden_field_tag :last_edited_to, "#{_c_y+'-'+_c_m+'-'+'16'}"%>
                </div>
                <div class="rangedisplay" style="margin-top: 10px;">
                  <span class="dte_from">From: <%=_c_m+'/7/'+_c_y%></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="dte_to">To: <%=_c_m+'/16/'+_c_y%></span>
                </div>
		</div>
		<div class="last-activity">
			<input type="checkbox" id="date_created" name="date_created" class="styled" />
          	<label for="lastActivityVal">last activity</label>
        </div>
        <div class="rangeSlider">
            <div class="cdate-slider" id='dtcRange'>
              <%=hidden_field_tag :date_created_from, "#{_c_y+'-'+_c_m+'-'+'7'}"%>
              <%=hidden_field_tag :date_created_to, "#{_c_y+'-'+_c_m+'-'+'16'}"%>
            </div>
            <div class="rangedisplay" style="margin-top: 10px;">
              <span class="dtc_from">From: <%=_c_m+'/7/'+_c_y%></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="dtc_to">To: <%=_c_m+'/16/'+_c_y%></span>
            </div>
		</div>


        <!-- <div class="date-created">
          <input type="checkbox"  class="styled" />
          <label for="shareThis">show date created</label>
        </div>
        <div class="rangeSlider"><img src="/assets/sideBar.png" width="212" height="22"></div>
        <div class="last-activity">
          <input type="checkbox" class="styled" id="lastActivityVal" />
          <label for="lastActivityVal">last activity</label>
        </div> -->
      </div>
      <div class="userPanelDevider"></div>
      <div class="userPanel">
        <div class="date-created">
          <input type="radio" name='products_status'  value="all" checked="checked" class="styled" />
          <label for="dateCreated">show all products</label>
        </div>
        <div class="date-created">
          <input type="radio" name='products_status'  value="live" class="styled" name='products_status' />
          <label for="dateCreated">show active products only</label>
        </div>
        <div class="date-created">
          <input type="radio" class="styled"  name='products_status'  value="inactive" name='products_status' />
          <label for="dateCreated">show inactive products only</label>
        </div>
        <div style="width: 210px; text-align: center"><input type="submit" value='Search' class="blueBtn" style="margin: 0 auto;"></div>
        
         </form>
      </div>
      
    </div>
    <div class="site-users left">
      <div class="addNewUserBtn">
        <a class="addNewUser" href="products/new">create product</a>
      </div>
      <div class="page-data clear">
        <div class="userGrid productGrid">
          <div class="userGridHeader">
            <ul class="ConLibraHeads">
              <li> <span class="userName">Product Name</span> <span class="group">SKU</span> <span class="created">Date Created</span> <span class="vender">Vendor</span> <span class="sold">Sold</span> <span class="view">Viewed</span> <span class="rating">Rating</span> <span class="active">Active</span> </li>
            </ul>
          </div>
          <div class="userGridBody">
            <div id="commonScroll">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end"></div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                <div class="overview">
                  <ul class="ConLibra">
                  <% @products.each do |p| %>	
                  <li> 
                      <span class="userName">
                        <a href ="<%= edit_site_product_path(@site, p)%>"><%= p.name%></a>
                      </span> 
                      <span class="group"><%= (( p.sku && p.sku.length > 9) ? p.sku[0..9] : p.sku) %></span> 
                      <span class="created"><%= p.created_at.strftime("%d/%m/%y") %> </span> 
                      <span class="vendor">
                        <%= ((p.vendor && p.vendor.length > 9) ? p.vendor[0..9] : p.vendor) %></span>
                      <span class="sold"><%= p.sold %></span>
                      <span class="view"><%= p.viewed %></span>
                      <span class="rating">
                        <img src="/assets/rating_4.png" border="0" />
                      </span>
                      <span class="status">
      								  <a rel ="<%=p.is_active%>" href="<%= update_product_site_product_path(@site, p, :product=>{:is_active => !(p.is_active)})%>" class= <%=p.is_active ? 'on' : 'off' %>>
      								  </a>
                      </span>
                      <span class="close">
                        <%= render :partial => 'shared/alert_box', :locals=> {:obj => p,
                           :path => destroy_product_site_product_path(@site, p),
                           :img_path => "/assets/btnDelete.png"}%> 
                      </span>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="userGridFooter"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$("span.status a").live("click", function(){
  var link = $(this);
  $.ajax({
    type: "GET",
    url: link.attr('href'),
    success: function(result){        
      var new_rel = link.attr('rel') == 'true' ? 'false' : 'true';
      var new_link = (link.attr('rel') == 'true' ? link.attr('href').replace('false', 'true') : link.attr('href').replace('true', 'false'));
      var new_class =  link.attr('class') == 'on' ? 'off' : 'on';
      link.parent().html("<a rel="+ new_rel  + " href="+ new_link +" class="+ new_class +"></a>")
  }});
 return false;
});

</script>
<%= javascript_include_tag '/assets/users/scripts/data_picker_setting.js'%>
<%= javascript_include_tag '/assets/date_sliders.js'%>
<script type="text/javascript" src="/assets/alert_box.js"></script>