<div class="pages-main">
  <div class="pages-wrapper">
    <div class="usersLeftPane left">
      <div class="title">Manage Products <span class="help"><a href="#"></a></span></div>
      <div class="userPanel">
        <div class="searchUser"> <span class="searchInput left">
          <input type="text" />
          </span> <span class="addSearch left"><img src="/assets/btn_AddNewSearch.png" border="0" /></span> <span class="selectColumns clear"><span class="columnText">all columns</span><span class="btnDown right"><img src="/assets/btnDropDownSelectColum.png" border="0" /></span></span> </div>
        <span class="showUser clear"><span class="userLastname">smith <img src="/assets/btn_deleteUser_active.png" /></span><span class="user-label">name</span></span> <span class="showUser clear"><span class="userLastname">admin X <img src="/assets/btn_deleteUser_disabled.png" /></span><span class="user-label">role</span></span> </div>
      <div class="userPanelDevider"></div>
      <div class="userPanel productp">
        <div class="date-created">
          <input type="checkbox"  class="styled" />
          <label for="shareThis">show date created</label>
        </div>
        <div class="rangeSlider"><img src="/assets/sideBar.png" width="212" height="22"></div>
        <div class="last-activity">
          <input type="checkbox" class="styled" id="lastActivityVal" />
          <label for="lastActivityVal">last activity</label>
        </div>
      </div>
      <div class="userPanelDevider"></div>
      <div class="userPanel">
        <div class="date-created">
          <input type="radio" checked="checked" class="styled" />
          <label for="dateCreated">show all products</label>
        </div>
        <div class="date-created">
          <input type="radio" class="styled" />
          <label for="dateCreated">show active products only</label>
        </div>
        <div class="date-created">
          <input type="radio" class="styled" />
          <label for="dateCreated">show inactive products only</label>
        </div>
      </div>
    </div>
    <div class="site-users left">
      <div class="addNewUserBtn">
        <a class="addNewUser" href="products/new">create product</a>
      </div>
      <div class="page-data clear">
        <div class="userGrid productGrid">
          <div class="userGridHeader">
            <ul class="ConLibraHeads">
              <li> <span class="userName">Product Name</span> <span class="group">SKU</span> <span class="created">Date Created</span> <span class="vender">Vender</span> <span class="sold">Sold</span> <span class="view">Viewed</span> <span class="rating">Rating</span> <span class="active">Active</span> </li>
            </ul>
          </div>
          <div class="userGridBody">
            <div id="commonScroll">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end"></div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                <div class="overview">
                  <ul class="ConLibra">
                  <% @products.each do |p| %>	
                  <li> 
                      <span class="userName">
                        <a href ="<%= edit_site_product_path(@site, p)%>"><%= p.name%></a>
                      </span> 
                      <span class="group"><%= p.sku%> </span> 
                      <span class="created"><%= p.created_at.strftime("%d/%m/%y")%> </span> 
                      <span class="vender">Zeiss</span>
                      <span class="sold">124</span>
                      <span class="view">1234</span>
                      <span class="rating">
                        <img src="/assets/rating_4.png" border="0" />
                      </span>
                      <span class="status">
      								  <a rel ="<%=p.is_active%>" href="<%= update_product_site_product_path(@site, p, :product=>{:is_active => !(p.is_active)})%>" class= <%=p.is_active ? 'on' : 'off' %>>
      								  </a>
                      </span>
                      <span class="close">
                        <%= render :partial => 'shared/alert_box', :locals=> {:obj => p,
                           :path => destroy_product_site_product_path(@site, p),
                           :img_path => "/assets/btnDelete.png"}%> 
                      </span>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="userGridFooter"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$("span.status a").live("click", function(){
  var link = $(this);
  $.ajax({
    type: "GET",
    url: link.attr('href'),
    success: function(result){        
      var new_rel = link.attr('rel') == 'true' ? 'false' : 'true';
      var new_link = (link.attr('rel') == 'true' ? link.attr('href').replace('false', 'true') : link.attr('href').replace('true', 'false'));
      var new_class =  link.attr('class') == 'on' ? 'off' : 'on';
      link.parent().html("<a rel="+ new_rel  + " href="+ new_link +" class="+ new_class +"></a>")
  }});
 return false;
});
</script>
<script type="text/javascript" src="/assets/alert_box.js"></script>