<div class="modelWindow">
  <div class="midSection">
    <%= render :partial => "shared/products_tab"%>
    <div id="tabs_content_container">
      <div id="tab2" class="tab_content">
        <div class="tab2topDiv">
          <div class="editImgDiv">
            <img src="/assets/productimg.jpg" width="136" height="100">
          </div>
          <div class="eiditTextDiv">
            <%unless @product.new_record? %>
              <h2><%= @product.name%></h2>
              <h3>created : <%= @product.created_at.strftime("%m/%d/%y")%></h3>
              <h3>last modified : <%= @product.updated_at.strftime("%m/%d/%y")%></h3>
              <span><img src="/assets/stars.jpg" width="73" height="13"></span>
            <% end %>
          </div>
          <div class="eiditTextDiv">
            <ul>
              <li>
                <span class="status">
                <a rel href="<%= update_product_site_product_path(@site, @product, :product=>{:enable_related_products => !(@product.enable_related_products)})%>" class= <%=@product.enable_related_products ? 'on' : 'off' %>>
                </a><span>enable related products</span>
                </span>
              </li><li>
                <span class="status">
                <a rel href="<%= update_product_site_product_path(@site, @product, :product=>{:auto_relate_products => !(@product.auto_relate_products)})%>" class= <%=@product.auto_relate_products ? 'onRadio' : 'offRadio' %>>
                </a><span>auto related products</span>
                </span>
              </li><li>
                <span class="status">
                <a rel href="<%= update_product_site_product_path(@site, @product, :product=>{:custom_relate_products => !(@product.custom_relate_products)})%>" class= <%=@product.custom_relate_products ? 'onRadio' : 'offRadio' %>>
                </a><span>custom related products</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="pages-wrapper" id="relWrapper">

          <div class="sectionTitleDiv">
            <div class="title">Manage Related Products<span class="help"><a href="#"></a></span></div>
            <div class="searchContent">
              <input type="text" id='query' placeholder="search/add products">
              <span class="searchIcon"><a href="#"></a></span> </div>
          </div>
          <div id="relSearchResults" class="searchResultBox relProductOptBox" style="display:none;"></div>
          <div class="site-users <%=@product.enable_related_products ? '' : 'DivHide' %>">
            <div class="page-data clear ">
              <div class="userGrid imageTab">
                <div class="userGridHeader">
                  <ul class="ConLibraHeads">
                    <li> <span class="gridColHeaddings w350">Product Name</span> 
                      <span class="gridColSKUHeaddings w400">SKU</span> </li>
                  </ul>
                </div>
                <div class="userGridBody">
                  <div id="productsEdit">
                    <div class="scrollbar">
                      <div class="track" >
                        <div class="thumb">
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="shadows"><span class="topShadow"></span><span class="bottomShadow"></span></div>
                      <div class="overview" style="top: 0px;">
                        <ul class="ConLibra">
                          <%@related_products.each do |rpd|
                            rp = rpd.actual_product
                            %>                          
                          <li class="alt">
                            <span class="imgs"><%=rp.name%></span>
                            <span class="imgFile"><%=rp.sku%></span>
                            <span class="removeBtn">
                              <%= render :partial=>'shared/alert_box', :locals=>{:obj => rp,
                                 :path => related_products_site_product_path(@site, @product, :related_product_id =>rpd.id),
                                 :img_path => "/assets/btnDelete.png"}%> 
                            </span>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="userGridFooter"></div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('#productsEdit').tinyscrollbar();
		$(".ConLibra li:even").addClass("alt");
	})
	
	$("#query").keyup(function(){
    $.ajax({
      type: "POST",
      url: "<%=search_site_products_path(@site)%>",
      data:"query="+$(this).attr('value')+"&related_product=true&product_id="+<%=@product.id%>,
      success: function(result){
        $('#relSearchResults').html(result).show();
    }});
   return false;
  });
  
</script>
<script type="text/javascript" src="/assets/alert_box.js"></script>