<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	  <title><%=@site.name%></title>
    <%= stylesheet_link_tag "layout", "content", "preview" %>
    <%= csrf_meta_tag %>
    <%=get_the_styles(@site)%>
    <%= javascript_include_tag 'jquery-1.4.2.min'%>
    <%= javascript_include_tag 'tinymce-jquery'%>
		<style>
			body{
				background: url("/images/bg.gif") repeat scroll 0 0 transparent;
    			font-family: arial,sans-serif;
			}
			#box .block {
			    background: none repeat scroll 0 0 white;
			    border-radius: 6px 6px 6px 6px;
			    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
			    text-shadow: 0 1px 0 white;
			    margin-bottom: 20px;
			}
			
			#box .block h2 {
			    background: url(css/img/bg_grayGrain.gif) #666;
			    border-top-left-radius: 6px;
			    border-top-right-radius: 6px;
			    color: white;
			    text-shadow: none;
			    margin: 0;
    			padding: 10px 15px;
			}
			#box{
				 background:#ACC0D1;
				 padding:20px;
			   	 border-top-right-radius: 6px;
			   	 border-bottom-right-radius: 6px;
			   	 border-bottom-left-radius: 6px;
			}
			#box .block .content {
			    padding: 10px 20px;
			}
			.content-tabs{
				margin-top:30px;
			}
			.content-tabs ul{
				width:100%;
			    border-top-right-radius: 6px;
			}
			.content-tabs ul li{
				border-left:0;
				border-right:0;
				border-top:0;
			}
			.content{
				text-align:center;
				margin: auto;
			}
			.textStyle{
				padding:10px;
				margin-bottom:20px;
			}
		</style>
	</head>
	<body>
		<div class="mainContainer">
			<div class="userEditHolder">
				<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder"></div>
		    			<!-- <div class="rightPanel">
		    				<ul>
		    					<li class="help"></li>
		    					<li class="myAccount"></li>
		    					<li class="logout"></li>
		    				</ul>
		    			</div> -->
		    		</div>
		    	</div>
		    <%if @site.site_pages != []%>
  		    <div class="content-tabs">
  					<ul>
  					  <%@site.site_pages.each_with_index do |sl,i|%>
                <li <%=((!params[:page_id] && i == 0) || (sl.id.to_s == params[:page_id]))? "class='active'" : "" %>>
                  <a href="<%=preview_site_path(@site, :page_id=>sl.id)%>" title="<%=sl.name%>"><span><%=(sl.name.length > 7 ? sl.name[0..7] : sl.name)%></span></a>
                </li>
              <% end %>
  					</ul>
  				</div>
  				<div id="box">
  						<div class="textStyle"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec neque a ligula elementum posuere. Nunc mollis vulputate vulputate. Sed pellentesque tincidunt leo, a lacinia libero ornare vitae. Nullam id diam quam, a tempor eros. Nulla quis nunc ante. Etiam fermentum porta velit, a malesuada ante ullamcorper sit amet. Sed vel gravida metus. Sed at fringilla est. </h1></div>
            <% @site_page.content_libraries.each do |x| %>
              <%if c = x.content_library %>
                <%if c.source_type == "Video" && v = Video.find_by_id(c[:source_id])%>
                  <div class="block">
                    <div class="content">
                      <div class="viewVideoHolder">
                        <div class="viewVideoTop">
                          <%= v.source_file_name %><img src="/assets/icon-help-grey.png" class="help" />
                        </div>
                        <div class="viewVideoBody">
                          <div class="videoDisplay">
                            <embed src ="/flash/mediaplayer.swf?file=<%= v.source.url %>" width="480" height="320" allowfullscreen="true" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%elsif c.source_type == "Image" && img = Image.find_by_id(c[:source_id])%>
                  <div class="block">
                    <div class="content">
                      <div class="viewImgHolder">
                        <div class="viewImgTop"><%= img.upload_file_name %>
                          <img src="images/icon-help-grey.png" class="help" />
                        </div>
                        <div class="viewImgBody">
                          <div class="imgDisplay">
                            <% image = img.upload.url(:medium).split('?')[0] %>
                            <img src="<%= image %>" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%elsif c.source_type == "Text" && t = ActiveRecord::Base::Text.find_by_id(c[:source_id])%>
                  <div class="block">
                    <div class="content">
                      <div class="header"><%= t.text_block_name %></div>
                        <div class="main-content">
                          <div class="text-block">
                            <%= raw  t.description %>
                          </div>
                        </div>
                    </div>
                  </div>
                <%end%>
              <%end%>
            <% end %>
          </div>
		    <%end%>
			</div>
		</div>
	</body>

</html>