<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	  <title><%=@site.name%></title>
	  <%if @site_theme%>
  	  <%= @site_theme%>
    <%else%>
      <%= stylesheet_link_tag "layout", "content", "preview" %>
      <%= javascript_include_tag 'jquery-1.7.1.min'%>
	  <%end%>
    <%= csrf_meta_tag %>
    <%= get_the_styles(@site)%>

	</head>
	<body>
		<div class="mainContainer">
			<div class="userEditHolder">
				<div class="header-section">
		    		<div class="topHeader">
		    			<div class="logoHolder"><%if SystemConfig.first%><img src="<%=SystemConfig.first.controller_logo%>" width="170" height="36"/><%end%></div>
		    			<!-- <div class="rightPanel">
		    				<ul>
		    					<li class="help"></li>
		    					<li class="myAccount"></li>
		    					<li class="logout"></li>
		    				</ul>
		    			</div> -->
		    		</div>
		    	</div>
		    <%if @site.site_pages != []%>
  		    <div class="content-tabs">
  					<ul>
  					  <%@site.site_pages.each_with_index do |sl,i|%>
                <li <%=((!params[:page_id] && i == 0) || (sl.id.to_s == params[:page_id]))? "class='active'" : "" %>>
                  <a href="<%=preview_site_path(@site, :page_id=>sl.id)%>" title="<%=sl.name%>">
                    <span><%=(sl.name.length > 7 ? sl.name[0..7] : sl.name)%></span></a>
                </li>
              <% end %>
  					</ul>
  				</div>
  				<div id="box">
  						<div class="textStyle"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec neque a ligula elementum posuere. Nunc mollis vulputate vulputate. Sed pellentesque tincidunt leo, a lacinia libero ornare vitae. Nullam id diam quam, a tempor eros. Nulla quis nunc ante. Etiam fermentum porta velit, a malesuada ante ullamcorper sit amet. Sed vel gravida metus. Sed at fringilla est. </h1></div>
            <% @site_page.content_libraries.each do |x| %>
              <%if c = x.content_library %>
                <%if c.source_type == "Video" && v = Video.find_by_id(c[:source_id])%>
                <div class="block">
                  <h2><%= v.source_file_name %></h2>
                  <div class="content">
                    <embed src ="/flash/mediaplayer.swf?file=<%= v.source.url %>" width="480" height="320" allowfullscreen="true" />
                  </div>
                </div>
                <%elsif c.source_type == "Image" && img = Image.find_by_id(c[:source_id])%>
                  <div class="block">
                    <h2><%= img.upload_file_name %></h2>
                    <div class="content">
                      <% image = img.upload.url(:medium).split('?')[0] %>
                      <img src="<%= image %>" />
                    </div>
                  </div>
                <%elsif c.source_type == "Text" && t = ActiveRecord::Base::Text.find_by_id(c[:source_id])%>
                  <div class="block">
                    <h2><%= t.text_block_name %></h2>
                    <div class="content">
                      <%= raw  t.description %>
                    </div>
                  </div>
                <%end%>
              <%end%>
            <% end %>
          </div>
		    <%end%>
			</div>
		</div>
	</body>
</html>