<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=@site.name%></title>
<%= stylesheet_link_tag "preview" %>
<%= csrf_meta_tag %>
<%=get_the_styles(@site)%>
<%= javascript_include_tag 'jquery-1.4.2.min'%>
<%= javascript_include_tag 'tinymce-jquery'%>

</head>
<body>
  <div class="roundedBox" id="loginBox">
    <div class="ueNavMid">
      <ul class="ueNav">
        <%@site.site_pages.each_with_index do |sl,i|%>
          <li <%=((!params[:page_id] && i == 0) || (sl.id.to_s == params[:page_id]))? "class='select'" : "" %>>
            <a href="<%=preview_site_path(@site, :page_id=>sl.id)%>" title="<%=sl.name%>"><span><%=sl.name%></span></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='clear'></div>
    <div class="box">
      <H1><%=@site_page.name%></H1>
      <%=!(@site.description && @site.description.length < 100) ? "
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec neque 
          a ligula elementum posuere. Nunc mollis vulputate vulputate. Sed pellentesque tincidunt leo, 
          a lacinia libero ornare vitae. Nullam id diam quam, a tempor eros. Nulla quis nunc ante. 
          Etiam fermentum porta velit, a malesuada ante ullamcorper sit amet. Sed vel gravida metus. 
          Sed at fringilla est." : @site.description %>
    </div>
    
    <div>
      <% @site_page.content_libraries.each do |x| %>
        <%if c = x.content_library %>
          <%if c.source_type == "Video" && v = Video.find_by_id(c[:source_id])%>
            <div class="viewVideoHolder">
              <div class="viewVideoTop">
                <%= v.source_file_name %><img src="/assets/icon-help-grey.png" class="help" />
              </div>
              <div class="viewVideoBody">
                <div class="videoDisplay">
                  <embed src ="/flash/mediaplayer.swf?file=<%= v.source.url %>" width="480" height="320" allowfullscreen="true" />
                </div>
              </div>
            <div>
          <%elsif c.source_type == "Image" && img = Image.find_by_id(c[:source_id])%>
            <div class="viewImgHolder">
              <div class="viewImgTop"><%= img.upload_file_name %>
                <img src="images/icon-help-grey.png" class="help" />
              </div>
              <div class="viewImgBody">
                <div class="imgDisplay">
                  <% image = img.upload.url(:medium).split('?')[0] %>
                  <img src="<%= image %>" />
                </div>
              </div>
            </div>
          <%elsif c.source_type == "Text" && t = ActiveRecord::Base::Text.find_by_id(c[:source_id])%>
          <%= form_for(t, :url=> "#",  :remote => true) do |f| %>
          <div class="main-container">
            <div class="header">Edit Text Block</div>
            <div class="main-content">
              <div class="text-editer">
                <%= f.text_area :description, :rows => 40, :cols => 120 %>

              </div>
            </div>
            <div class="footer-section">
              <div class="leftBtns"><button class="secondary btnCancelForm" id="cancelBtn">Cancel</button> </div>
              <div class="rightBtns"><%= f.text_field :text_block_name %>
                <button class="primary" id="saveBtn">Submit</button>
              </div>
            </div>
          </div>
          <% end %>
          <script type="text/javascript">
            $(function() {
              $('textarea').tinymce({
                width: "98%",
                height: "50%",
                theme: 'advanced'
              });
            });
          </script>

          <%end%>
        <%end%>
      <% end %>
    </div>
    <div>
      <ul class="ueNavBottom">
        <li>
          <%= link_to 'Edit', edit_site_path(@site) %> 
        </li>
        <li>
          <%= link_to 'Back to Site Settings', site_site_pages_path(@site) %> 
        </li>
      </ul>
    </div>
  </div>
</body>
</html>