<%= stylesheet_link_tag "jquery.Jcrop" %>
	   <%= javascript_include_tag "jquery.Jcrop" %>  
	  <%= javascript_include_tag "jquery.Jcrop.min" %>
<div class="contentObject">
	<div class="resizable_content">
	<div class="expandable">
		<span class="delete"><%=link_to image_tag('btn_ContentDelete.png'), '#',:href=>'javascript:void(0);',:onclick=>"$('.ui-droppable').html('');"%></span>
		<span class="drag"></span>
		
		<div class="objectContent"><span style="min-width:300px;min-height:300px" class="title"><img border="0" src="<%=(content.source.updated_at == content.source.created_at) ? content.source.upload : content.source.upload(:thumb)%>" width="100%" height="100%" class="cropbox"></span></div>
	</div>
</div>
</div>

