<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PECAA</title>
        <%= stylesheet_link_tag "layout","pages","users","tinyscroll","siteinfo","cart","features", "facebox" %>
		<%= stylesheet_link_tag "products" if params[:controller] == "coupons" or params[:controller] == "gift_certificates" or params[:controller] == "orders" or params[:controller] == "reports"%>
        <%= javascript_include_tag 'jquery-1.7.1.min.js','rails.js','jquery.watermark.js' %>
        <%= javascript_include_tag 'inputstyle.js' ,'jquery.tinyscrollbar.min.js' %>
		<%= javascript_include_tag 'facebox'%>
	  <%= javascript_include_tag 'common'%>
	  <%= javascript_include_tag 'jquery.watermark', 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>
      <%= javascript_include_tag 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>
	  
        <script type="text/javascript">
            
            $(document).ready(function(){
                $('#scrollbar1').tinyscrollbar();
                $(".ConLibra li:even").addClass("alt");
                $("ul.ConLibra li").click(function(){
                    var $this = $(this);
                    //$this.parent().find('.misc img').hide();
                    
                    if (!$this.hasClass("selected")) {
                        $("ul.ConLibra li").removeClass("selected");
                        $("ul.ConLibra li").find('.pointer').hide();
                        $this.addClass("selected");
                        $this.find('.pointer').show();
                        //$this.find('.misc img').show();
                    }
                    return false;
                    
                })
                /* enable products*/
                
                $('#enableProductBtn').click(function(){
                    $('.rBtnOn').addClass('rBtnOff');
                })
                
            })
        </script>
    </head>
    <body>
        <div class="mainContainer">
            <div class="userEditHolder">
                <div class="header-section">
                    <%= render :partial => 'shared/main_header'%>
                    <div class="main-nav">
                        <div class="navBtns">
                            <ul>
                                <li class="products">
                                </li>
                                <li class="payments">
                                </li>
                                <li class="taxes">
                                </li>
                                <li class="shipping">
                                </li>
                                <li class="features <%= (params[:controller] != 'orders' and params[:controller] != 'reports') ? 'active' : ''%>">
                                </li>
                                <li class="orders <%= params[:controller] == 'orders' ? 'active' : ''%>">
                                </li>
                                <li class="reports <%= params[:controller] == 'reports' ? 'active' : ''%>">
                                </li>
                            </ul>
                        </div>
                    </div>
<%if params[:controller] =="reports"%>
<div class="user-tabs">
        <ul>
          <li class="<%=['index','graph_index'].include?(params[:action]) ? 'active' : ''%>"><%=link_to 'sales', "/sites/#{params[:site_id]}/reports"%></li>
          <li class="<%=['show_all_products'].include?(params[:action]) ? 'active' : ''%>"><%=link_to 'products', "/sites/#{params[:site_id]}/reports/show_all_products"%></li>
          <li>inventory</li>
                    <li class="<%=['show_custom_fields'].include?(params[:action]) ? 'active' : ''%>"><%=link_to 'customs', "/sites/#{params[:site_id]}/reports/show_custom_fields"%></li>
         </ul>
      </div>
<%end%>
					<%unless params[:controller] == "orders" or params[:controller] == "reports"%>
                    <div class="user-tabs">
                        <ul>
                            <li class="<%=params[:controller] == 'product_filters' ? ' active' : ''%>">
                                <%=link_to 'Product filters',"/sites/#{params[:site_id]}/product_filters"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_features' and (params[:action] == 'change_adv_status' or params[:action] =='index') ? ' active' : ''%>">
                                <%=link_to 'advertising',"/sites/#{params[:site_id]}/site_features/change_adv_status"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_features' and params[:action] == 'ssl_setup_status' ? ' active' : ''%>">
								<%=link_to 'SSL setup',"/sites/#{params[:site_id]}/site_features/ssl_setup_status"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_features' and params[:action] == 'review_management' ? ' active' : ''%>">
                                <%=link_to 'reviews',"/sites/#{params[:site_id]}/site_features/review_management"%>
                            </li>
                            <li class="<%=params[:controller] == 'try_it_images' ? ' active' : ''%>">
                            	<%=link_to 'try it',"/sites/#{params[:site_id]}/try_it_images"%>
                            </li>
                            <li class="<%=params[:controller] == 'gift_certificates' ? ' active' : ''%>">
                            	<%=link_to 'gift certs',"/sites/#{params[:site_id]}/gift_certificates"%>
                            </li>
							<li class="<%=params[:controller] == 'coupons' ? ' active' : ''%>">
                            	<%=link_to 'coupons',"/sites/#{params[:site_id]}/coupons"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_vendors' ? ' active' : ''%>">
                            	<%=link_to 'vendors',"/sites/#{params[:site_id]}/site_vendors"%>
                            </li>
                            <li class="<%=params[:controller] == 'inventory_options' ? ' active' : ''%>">
                            	<%=link_to 'inventory',"/sites/#{params[:site_id]}/inventory_options"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_features' and params[:action] == 'cart_status'? ' active' : ''%>">
                                <%=link_to 'cart options',"/sites/#{params[:site_id]}/site_features/cart_status"%>
                            </li>
                            <li class="<%=params[:controller] == 'site_features' and params[:action] == 'rx_manage'? ' active' : ''%>">
                                <%=link_to 'Rx',"/sites/#{params[:site_id]}/site_features/rx_manage"%>
                            </li>
                        </ul>
                    </div>
					<%end%>
                </div>
                <div class="content-section">
                    <%=yield%>
                </div>
            </div>
        </div>
    </body>
</html>
