<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>PECAA</title>
  <link rel="stylesheet" href="/assets/layout.css" type="text/css">
  <link rel="stylesheet" href="/assets/users.css" type="text/css">
  <link rel="stylesheet" href="/assets/tinyscroll.css" type="text/css">
   <link rel="stylesheet" href="/assets/siteinfo.css" type="text/css">
  <script src="/assets/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/assets/inputstyle.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/jquery.tinyscrollbar.min.js"></script>
  <%= javascript_include_tag 'jquery-1.4.2.min'%>
  <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min'%>
  <%= javascript_include_tag 'facebox.js'%>
  <%= javascript_include_tag 'common.js'%>
  <%= javascript_include_tag 'taxs.js'%>
  <%= stylesheet_link_tag "facebox" %>
  <link rel="stylesheet" href="/assets/cart.css" type="text/css">

  <script type="text/javascript">

    $(document).ready(function() {
      $('#products1').tinyscrollbar();
      $(".ConLibra li:even").addClass("alt");

      $("ul.ConLibra li").click(function() {
        var $this = $(this);
        if (!$this.hasClass("selected")) {
          $("ul.ConLibra li").removeClass("selected");
          $("ul.ConLibra li").find('.pointer').hide();
          $this.addClass("selected");
          $this.find('.pointer').show();
          //$this.find('.misc img').show();
        }
        return false;
      })

    })
  </script>
  <link href="/assets/products.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainContainer">
  <div class="userEditHolder">
    <div class="header-section">
      <%= render :partial => 'shared/main_header' %>


      <div class="main-nav">
        <div class="navBtns">
          <ul>
            <li class="products"></li>
            <li class="payments active"></li>
            <li class="taxes"></li>
            <li class="shipping"></li>
          <li class="features <%= (['site_features','product_filters','reviews','try_it_images','gift_certificates','coupons','site_vendors','inventory_options'].include?(params[:controller])) ? 'active' : ''%>" onclick="window.location.href='/sites/<%=params[:site_id]%>/product_filters'">
            </li>
            <li class="orders <%= params[:controller] == 'orders' ? 'active' : ''%>" onclick="window.location.href='/sites/<%=params[:site_id]%>/orders'">
            </li>
            <li class="reports <%= params[:controller] == 'reports' ? 'active' : ''%>" onclick="window.location.href='/sites/<%=params[:site_id]%>/reports'">
            </li>
          </ul>
        </div>
      </div>

      <%= render "shared/#{params[:controller]}" %>
    </div>

    <div class="content-section">
      <%= yield %>
    </div>
  </div>
<%= render 'layouts/product_payment_javascript' %>
</div>
</body>
</html>

