<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PECAA</title>
      <%= stylesheet_link_tag "layout" %>
    <%= stylesheet_link_tag "users" %>
    <%= stylesheet_link_tag "tinyscroll" %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= stylesheet_link_tag "products" %>
    <%= stylesheet_link_tag "facebox" %>
    <%= stylesheet_link_tag "siteinfo" %>
    <%= stylesheet_link_tag "content" %>
    <%= stylesheet_link_tag "createEdit" %>

    
    <%= javascript_include_tag 'jquery.js'%>
    <%= javascript_include_tag 'inputstyle.js','jquery.tinyscrollbar.min.js'%>
    <%= javascript_include_tag 'facebox'%>
    <%= javascript_include_tag 'common'%>
<script type="text/javascript">
        	
        	$(document).ready(function(){
        		$('#products1').tinyscrollbar();
        		$(".ConLibra li:even").addClass("alt");

        		$("ul.ConLibra li").click(function(){
        			var $this = $(this);
        			if(!$this.hasClass("selected")){
        				$("ul.ConLibra li").removeClass("selected");
        				$("ul.ConLibra li").find('.pointer').hide();
        				$this.addClass("selected");
        				$this.find('.pointer').show();
        				//$this.find('.misc img').show();
        			}
        			return false;
        		})
        	})
        </script>
<link href="/assets/products.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainContainer">
  <div class="userEditHolder">
    <div class="header-section">
      <div class="topHeader">
        <div class="logoHolder"></div>
        <div class="rightPanel">
          <ul>
            <li class="help"></li>
            <li class="myAccount"></li>
            <li class="logout"></li>
          </ul>
        </div>
      </div>
      <div class="main-nav">
        <div class="navBtns">
          <ul>
            <li class="products active"></li>
            <li class='payments'></li>
            <li class="taxes"></li>
            <li class="shipping"></li>
            <li class="features"></li>
            <li class="orders"></li>
            <li class="reports"></li>
          </ul>
        </div>
      </div>
      <div class="user-tabs">
        <ul>
          <li class="active">products</li>
          <li>product categories</li>
          <li>featured products</li>
          <li>product options</li>
          <li>catalogs</li>
        </ul>
      </div>
    </div>
    <div class="content-section">
      <%=yield%>
    </div>
</div>

  <script type="text/javascript">
    $('.payments').live('click', function(){
      window.location = '<%= site_payments_path(@site.id)%>';
    });

  </script>