<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PECAA</title>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
			google.load("jquery", "1.3.2");
		</script>
  
	  <%if ["site_pages", "sites", "site_styles"].include?(params[:controller])%>
	  <%#CSS as per Rajesh's Modules%>
        <link rel="stylesheet" href="/assets/themes/base/jquery.ui.all.css" type="text/css">
		  <% if params[:action] == 'optional' or params[:action]=='done'%>
		    <%= stylesheet_link_tag "siteinfo", "layout", "content", "done", "pages", "users", 'themes', 'optional'%>
		  <% else %>
	      <%= stylesheet_link_tag "siteinfo", "layout", "content", "site_pages", "facebox", "pages", "users", 'themes'%>
		  <% end %>
	  <% elsif params[:controller] == "content_libraries" %>
	  	<%= stylesheet_link_tag "siteinfo","layout", "content", "site_pages","pages", "users", "optional","pecaa","facebox"%>
	  <%else%>
	  <%#CSS as per Mani's Modules%>
	      <%= stylesheet_link_tag "siteinfo","layout", "content", "site_pages","pages", "users", "optional", "tinyscroll"%>
	  <% end %>
	  

      <%= javascript_include_tag 'jquery-1.4.2.min'%>
      <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min'%>
      <%= javascript_include_tag 'jquery.tinyscrollbar.min'%>
      <%= javascript_include_tag 'inputstyle'%>
      
      <%= javascript_include_tag 'jquery.watermark', 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>

      <%= javascript_include_tag 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>
<%= javascript_include_tag 'js/misc'%>

<%= csrf_meta_tag %>
      <script type="text/javascript">

        $(document).ready(function(){
        	$(".item-wrapper ul li.item").hover(function () {
          	$(this).find(".hotspot").fadeIn();
        	},
        	function () {
         		$(this).find(".hotspot").fadeOut();
        	})
        })
      </script>
		
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<script type="text/javascript">
	$(function() {
	$('#sortable').sortable();	
	$('#sortable').disableSelection();
	});
    function update_crop(coords) {  
      $('#crop_x').val(coords.x);  
      $('#crop_y').val(coords.y);  
      $('#crop_w').val(coords.w);  
      $('#crop_h').val(coords.h);    
    }  
		
    $(function() {
		$( "#catalog" ).accordion();
		$( "#catalog li.active" ).draggable({
			appendTo: "body",
			helper: "clone"
		});
		$( "#cart div" ).droppable({
			activeClass: "ui-state-default",
			hoverClass: "ui-state-hover",
			accept: ":not(.ui-sortable-helper)",
			drop: function( event, ui ) {
				$( this ).find( ".placeholder" ).remove();
				$( this ).find('li').remove();
				$( this ).html('');
				if (ui.draggable.attr('class') == "item active newItem misc_form ui-draggable") {
					 $.ajax({
				            type: "get",
				            url: '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/miscs/new"%>',
				            success: function (data) {
								$('.misc_form div#doc_form').remove();
								$('#cart div.ui-droppable').html(data)					
				            },
				        });
				}

					$("<div></div>").html(ui.draggable.clone()).appendTo(this);
					$('.ui-droppable div#doc_form').show();
					$('.ui-droppable img.cropbox').Jcrop({
					    onChange: update_crop,
					    onSelect: update_crop,
					    aspectRatio: 1
					  });
					$('#cart input#dropped').attr('value','true')
					$('#cart div.resizable_content').resizable();
			}
		})
	});
	
	</script>
	
	
<%= javascript_include_tag 'facebox'%>
	  <%= javascript_include_tag 'common'%>	
	
  </head>
  <body style=" height:100%; width:100%">
  	
  	<div class="mainContainer">
    	<div class="userEditHolder">	
      	<div class="header-section">
      		<div class="topHeader">
      			<div class="logoHolder"><%if SystemConfig.first%><img src="<%=SystemConfig.first.controller_logo%>" width="170" height="36"/><%end%></div>
      			<div class="rightPanel">
      				<ul>
      					<li class="help"></li>
      					<li class="myAccount"></li>
      					<li class="logout"></li>
      				</ul>
      			</div>
      		</div>
      		<div class="main-nav">
      			<div class="navBtns">
      				<ul>
      					<li class="siteInfo <%=site_top_nav('siteInfo')%>" rel=<%=set_link("edit_site_path", @site)%>></li>
      					<li class="pages <%=site_top_nav('pages')%>" rel=<%=set_link("site_site_pages_path", @site)%>></li>
      					<li class="content <%=site_top_nav('content')%>"      rel=<%=set_link("search_site_site_page_content_libraries_path", @site, site_content_link(@site))%>></li>
      					<li class="theme <%=site_top_nav('theme')%>" rel=<%=set_link("site_site_styles_path", @site)%>></li>
      					<li class="optional <%=site_top_nav('optional')%>" rel='/sites/<%=params[:site_id]%>/optional'></li>
  						  <li class="users  <%=site_top_nav('users')%>" rel="/sites/<%=params[:site_id]%>/site_users/list_users"></li>
      					<li class="done <%=site_top_nav('done')%>" rel="/sites/<%=@site.id%>/done"></li>
      				</ul>
      			</div>
      			<div class="rightBtns">
      			  <button class="btn_External" id="preview_button">ext</button>
      			  <button class="btn_SaveAndGo" id="form_submit" form='#'>save and go</button>
      			</div>
      		</div>
			<%if params[:controller] == "site_users"%>
			<div class="user-tabs">
		    			<ul>
			    			<li class="<%= params[:action]== 'list_users' ? 'active' : ''%>"><%=link_to "users", "/sites/#{@site.id}/site_users/list_users"%></li>
			    		    <li class="<%= params[:action]== 'list_groups' ? 'active' : ''%>"><%=link_to "groups", "/sites/#{@site.id}/site_users/list_groups"%></li>
		    			</ul>
		    		</div>
		<%end%>
      	</div>
		
		<div class="content-section">
		    <%=yield%>
      	</div>
<%if params[:controller] == "content_libraries"%>
  <%=form_tag "/sites/#{@site.id}/site_pages/#{params[:site_page_id]}/content_save" , :id => 'content_page_save' do |s| %>
   <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
    <%= hidden_field :crop, attribute, :id => attribute %>  
  <% end %>  
  <%=hidden_field_tag :is_preview, false%>
  <%=hidden_field_tag :sorting_position,''%>
  
  <div class="themes-board">
      <div class="grid-board">
        <div id="cart" >
        	<%=hidden_field_tag "dropped",''%>
          <div id="sortable" class="ui-droppable ui-sortable" style="height:900px;">
            <li class="placeholder">
            	<%=render :partial => '/content_libraries/existed_sources'%>
            </li>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
    	</div>
      </div>
      <script>
        $('.location').click(function(){
            window.location.href=$(this).attr('rel');
        })
        
        $('.logout').click(function(){
            window.location.href='/logout';
        })
        
        $('.navBtns ul li').click(function(){
            window.location.href=$(this).attr('rel');
        })
      </script>
	   
  </body>
</html>
