<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PECAA</title>
	<!-- script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
			google.load("jquery", "1.3.2");
		</script -->
  
	  <%if ["site_pages", "sites", "site_styles"].include?(params[:controller])%>
	  <%#CSS as per Rajesh's Modules%>
        <link rel="stylesheet" href="/assets/themes/base/jquery.ui.all.css" type="text/css">
		  <% if params[:action] == 'optional' or params[:action]=='done'%>
		    <%= stylesheet_link_tag "siteinfo", "layout", "content", "done", "pages", "users", 'themes', 'optional'%>
		  <% else %>
	      <%= stylesheet_link_tag "siteinfo", "layout", "content", "site_pages", "facebox", "pages", "users", 'themes'%>
		  <% end %>
	  <% elsif params[:controller] == "content_libraries" %>
	  	<%= stylesheet_link_tag "siteinfo","layout", "content", "site_pages","pages", "users", "optional","pecaa","facebox"%>
	  <%else%>
	  <%#CSS as per Mani's Modules%>
	      <%= stylesheet_link_tag "siteinfo","layout", "content", "site_pages","pages", "users", "optional", "tinyscroll"%>
	  <% end %>

      <%= javascript_include_tag 'jquery-1.4.2.min'%>
      <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min'%>
      <%= javascript_include_tag 'jquery.tinyscrollbar.min'%>
      <%= javascript_include_tag 'inputstyle'%>
      
      <%= javascript_include_tag 'jquery.watermark', 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>

      <%= javascript_include_tag 'jquery.ui.mouse', 'jquery.ui.core','jquery.ui.widget','jquery.ui.draggable.js','jquery.ui.droppable','jquery.ui.sortable','jquery.ui.accordion.js', 'jquery.jeditable'%>
      <%= javascript_include_tag 'js/misc'%>

      <%= csrf_meta_tag %>
      <script type="text/javascript">

        $(document).ready(function(){
        	$(".item-wrapper ul li.item").hover(function () {
          	$(this).find(".hotspot").fadeIn();
        	},
        	function () {
         		$(this).find(".hotspot").fadeOut();
        	})
        })
      </script>
		
<!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script -->
<script type="text/javascript">

    function fitgrid() {
        $('.userEditHolder .themes-board').css('height', ($('#site-blocks').height()+50)+'px');
    }

    function resizer(eid) {
        // TODO: if the image need to be resized by dragging? find it.. below code can help a bit!
        var _selector = '#resize_'+eid+' .resizable_content';
        $(_selector).resizable({
            minHeight: 200,
            minWidth: 200,
            handles: 'se',
            alsoResize: (arguments[1] ? _selector+' .objectContent img' : ''),
            resize: function(event, ui){
                $( this ).closest('div.item').css({width: ui.size.width, height: ui.size.height});
            }
        });
    }

    function delete_block(ID) {
        if (ID > 0) {
            $('.userEditHolder').mask('Processing...');
            $.post( '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/content_destroy"%>', { clibspid: ID },
                function( data ) {
                    var _tmp_selector = 'resize_'+ID,
                        $first_block = $('#site-blocks div.item').first();
                    if($first_block.attr('id')===_tmp_selector) {
                        var $next_block = $first_block.next(),
                            _style = $next_block.attr('style');
                        if (_style) {
                            var _top = _style.match(/top\:([\s-\+\d]+)/);
                            if(_top.length >=2 && _top[1] < 0) {
                                var _fstyle = $first_block.attr('style'),
                                    _ftop = _fstyle.match(/top\:([\s-\+\d]+)/);
                                $next_block.css('top', _ftop[1]+'px');
                            }
                        }
                    }
                    // now remove the item
                    $('#'+_tmp_selector).remove();
                    $('.userEditHolder').unmask();
                }
            );
        }
    }

    function cleargrid() {
        if($('div#site-blocks').length > 0) {
            $('div#site-blocks').html('');
            $('#isMiscDropped, #isWorkInProgress').attr('value', 0);
        }
        else $('.ui-droppable').html('');
    }

    function setnofblocks(update) {
        if(update)
            $('#nofBlockItems').attr('value', $('div#site-blocks div.item').length);
        else
            return $('#nofBlockItems').attr('value');
    }

    $(function() {
        $('#sortable').sortable();
        $('#sortable').disableSelection();
	});

    function update_crop(coords,clid,lid) {
      $('#'+lid+' #crop_'+clid+'_crop_x').val(coords.x);
      $('#'+lid+' #crop_'+clid+'_crop_y').val(coords.y);
      $('#'+lid+' #crop_'+clid+'_crop_w').val(coords.w);
      $('#'+lid+' #crop_'+clid+'_crop_h').val(coords.h);
    }  
		
    $(function() {
		$( "#catalog" ).accordion();
		$( "#catalog li.active" ).draggable({
			appendTo: "body",
			helper: "clone"
		});

        $( '#cart div' ).droppable({
			activeClass: "ui-state-default",
			hoverClass: "ui-state-hover",
			accept: ":not(.ui-sortable-helper)",
			drop: function( event, ui ) {
                var grid_blocks_container = 'div#site-blocks';
                // retrieve the flag values
                var _isMiscDropped = parseInt($('#isMiscDropped').attr('value'));
                var _isWorkInProgress = parseInt($('#isWorkInProgress').attr('value'));
                // is the dragged elements is a Misc i.e. Map ??
				if (ui.draggable.attr('class') == 'item active newItem misc_form ui-draggable') {
					if(!_isMiscDropped) {
                        $('#isMiscDropped').attr('value', 1);
                        $(grid_blocks_container).find('.placeholder').remove();
                        //$( this ).find('li').remove();
                        var _list_order = parseInt(setnofblocks(false)) + 1;
                        $(grid_blocks_container).find('div.item').remove();
                        $(grid_blocks_container).html('');
                        $.ajax({
                                type: 'get',
                                url: '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/miscs/new"%>',
                                success: function (data) {
                                    $('.misc_form div#doc_form').remove();
                                    $(grid_blocks_container).html(data);
                                    $('input#list_order').attr('value',_list_order);
                                    $('#isMiscDropped').attr('value', 0);
                                }
                        });
                    }
				} else if(ui.draggable.hasClass('ibloc') && !_isMiscDropped && !_isWorkInProgress) {
                    // init masking and prevention
                    $('.userEditHolder').mask('Processing...');
                    $('#isWorkInProgress').attr('value', 1);
                    // append the block as it is..
                    /*$( this ).find('li').parent('ul').append(ui.draggable.clone());
                    $('ul#sortable').append(ui.draggable.clone()); */
                    var _tmp = ui.draggable.clone();
                    $('<div id="new_resizer_'+$(ui.draggable).attr('id')+'" class="item"></div>').html(_tmp.html()).appendTo($(grid_blocks_container));
                    // manipulate the recently added block
                    var new_bloc = $(grid_blocks_container+' div.item').last();
                    //var new_bloc = $('ul#sortable li').last();
                    var nb_cid = $(new_bloc).attr('id').match(/\d+/)[0];
                    // now save this block before manipulating it, so that we'll get an unique ID
                    var _params = {type:$('#src_type_'+nb_cid).val(), content_lib_id:nb_cid, listorder:$(grid_blocks_container+' div.item').length};
                    $.post( '<%="/sites/#{params[:site_id]}/site_pages/#{params[:site_page_id]}/content_new"%>', { data: $.toJSON(_params) },
                        function( data ) {
                            var new_bloc_id = 'resize_'+data.content_libraries_site_page.id;
                            $(new_bloc).attr('id', new_bloc_id);
                            $(new_bloc).find('span.title').first().remove();
                            $(new_bloc).find('span.dragable').first().remove();
                            $(new_bloc).find('div.hotspot').first().remove();
                            // better to remove the resizing handles if any..
                            $(new_bloc).find('div.ui-resizable-handle').remove();
                            // now replace the necessary hidden elements names with the new ID i.e. this will be unique
                            // 1) do for style-position
                            var _posid = '#'+new_bloc_id+' #style_position_'+nb_cid;
                            $(_posid).attr('name','style_position['+data.content_libraries_site_page.id+']');
                            $(_posid).attr('id','style_position_'+data.content_libraries_site_page.id);
                            // 2) do for iwidth
                            var _iwid = '#'+new_bloc_id+' #iwidth_'+nb_cid;
                            $(_iwid).attr('name','iwidth['+data.content_libraries_site_page.id+']');
                            $(_iwid).attr('id','iwidth_'+data.content_libraries_site_page.id);
                            // 3) do for iheight
                            var _ihid = '#'+new_bloc_id+' #iheight_'+nb_cid;
                            $(_ihid).attr('name','iheight['+data.content_libraries_site_page.id+']');
                            $(_ihid).attr('id','iheight_'+data.content_libraries_site_page.id);
                            // 4) do for source-type
                            var _stid = '#'+new_bloc_id+' #src_type_'+nb_cid;
                            $(_stid).attr('name','src_type['+data.content_libraries_site_page.id+']');
                            $(_stid).attr('id','src_type_'+data.content_libraries_site_page.id);
                            // 5) if image for crop coordinates
                            if(_params.type == 'Image') {
                                var _imgc = ['crop_x', 'crop_y', 'crop_w', 'crop_h'];
                                for (j in _imgc) {
                                    var _hid = '#'+new_bloc_id+' #crop_'+nb_cid+'_'+_imgc[j];
                                    $(_hid).attr('name', 'crop['+data.content_libraries_site_page.id+']['+_imgc[j]+']');
                                    $(_hid).attr('id', 'crop_'+data.content_libraries_site_page.id+'_'+_imgc[j]);
                                }
                            }
                            // manipulating the image if present
                            $('#'+new_bloc_id+' div#doc_form').show();
                            $('#'+new_bloc_id+' img.cropbox').Jcrop({
                                onChange: function(obj){update_crop(obj,data.content_libraries_site_page.id,new_bloc_id)},
                                onSelect: function(obj){update_crop(obj,data.content_libraries_site_page.id,new_bloc_id)},
                                aspectRatio: 1
                            });
                            // save the current list-order
                            $('<input type="hidden" value="'+data.content_libraries_site_page.list_order+'" name="list_order['+data.content_libraries_site_page.id+']" id="list_order_'+data.content_libraries_site_page.id+'">').appendTo(new_bloc);
                            // inti the dimensions of the block
                            var _style_selector = '#'+new_bloc_id+' .resizable_content' + (data.content_libraries_site_page.content_type=='Image' ? ' img.cropbox' : ''),
                                _style_selector_w = $(_style_selector).width(), _style_selector_h = $(_style_selector).height(),
                                _style = 'top:0;left:0;width:'+(_style_selector_w > 200 ? _style_selector_w : 200)+'px;height:'+(_style_selector_h > 200 ? _style_selector_h : 200)+'px;';
                            $('#'+new_bloc_id+' .ui-resizable').attr('style',_style);
                            $('#'+new_bloc_id).attr('style',_style);
                            // attaching the resizer handle
                            resizer(data.content_libraries_site_page.id);
                            $('#'+new_bloc_id).draggable({
                                handle: 'span.drag',
                                containment: 'parent'
                            });
                            // attach delete handler
                            var _delete_selector = '#'+new_bloc_id+' .resizable_content span.delete a';
                            $(_delete_selector).unbind('click');
                            $(_delete_selector).click(function(){
                                delete_block(data.content_libraries_site_page.id);
                            });
                            // say that work has been completed
                            $('#isWorkInProgress').attr('value', 0);
                            $('#cart input#dropped').attr('value','true');
                            // now unmask the grid
                            $('.userEditHolder').unmask();
                            setnofblocks(true);
                            fitgrid();
                        }
                    );
                } else if(_isMiscDropped) {
                    // TODO: notify user that there're no actions for other block when there's a New Map/Misc block is sitting...
                    alert('Please save the Map Data and then continue to add more blocks..');
                } else {
                    // TODO: prevent the multiple drops of same block due to mouse gesture or some other weird issue..
                    //console.debug('Preventing multiple drops of same block.. ;)');
                }
            }
		})
	});
	
	</script>
	
	
    <%= javascript_include_tag 'facebox'%>
	<%= javascript_include_tag 'common'%>
	
  </head>
  <body style=" height:100%; width:100%">
  	
  	<div class="mainContainer">
    	<div class="userEditHolder">	
      	<div class="header-section">
      		<div class="topHeader">
      			<div class="logoHolder"><%if SystemConfig.first%><img src="<%=SystemConfig.first.controller_logo%>" width="170" height="36"/><%end%></div>
      			<div class="rightPanel">
      				<ul>
      					<li class="help"></li>
      					<li class="myAccount"></li>
      					<li class="logout"></li>
      				</ul>
      			</div>
      		</div>
      		<div class="main-nav">
      			<div class="navBtns">
      				<ul>
      					<li class="siteInfo <%=site_top_nav('siteInfo')%>" rel=<%=set_link("edit_site_path", @site)%>></li>
      					<li class="pages <%=site_top_nav('pages')%>" rel=<%=set_link("site_site_pages_path", @site)%>></li>
      					<li class="content <%=site_top_nav('content')%>"      rel=<%=set_link("search_site_site_page_content_libraries_path", @site, site_content_link(@site))%>></li>
      					<li class="theme <%=site_top_nav('theme')%>" rel=<%=set_link("choose_theme_site_site_styles_path", @site)%>></li>
      					<li class="optional <%=site_top_nav('optional')%>" rel='/sites/<%=params[:site_id]%>/optional'></li>
  						  <li class="users  <%=site_top_nav('users')%>" rel="/sites/<%=params[:site_id]%>/site_users/list_users"></li>
      					<li class="done <%=site_top_nav('done')%>" rel="/sites/<%=@site.id%>/done"></li>
      				</ul>
      			</div>
      			<div class="rightBtns">
      			  <button class="btn_External" id="preview_button">ext</button>
      			  <button class="btn_SaveAndGo" id="form_submit" form='#'>save and go</button>
      			</div>
      		</div>
			<%if params[:controller] == "site_users"%>
			<div class="user-tabs">
		    			<ul>
			    			<li class="<%= params[:action]== 'list_users' ? 'active' : ''%>"><%=link_to "users", "/sites/#{@site.id}/site_users/list_users"%></li>
			    		    <li class="<%= params[:action]== 'list_groups' ? 'active' : ''%>"><%=link_to "groups", "/sites/#{@site.id}/site_users/list_groups"%></li>
		    			</ul>
		    		</div>
		<%end%>
      	</div>
		
		<div class="content-section">
		    <%=yield%>
      	</div>
<%if params[:controller] == "content_libraries"%>
  <%=form_tag "/sites/#{@site.id}/site_pages/#{params[:site_page_id]}/content_save" , :id => 'content_page_save' do |s| %>
   <%# for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%#= hidden_field :crop, attribute, :id => attribute %>
  <%# end %>
  <%=hidden_field_tag :is_preview, false%>
  <%=hidden_field_tag :sorting_position,''%>
  
  <div class="themes-board">
      <div class="grid-board">
        <div id="cart" >
        	<%=hidden_field_tag 'dropped'%>
            <%=hidden_field_tag 'isMiscDropped',0%>
            <%=hidden_field_tag 'isWorkInProgress',0%>
            <%=hidden_field_tag 'nofBlockItems',0%>
          <div class="ui-droppable" style="height: 900px; position: absolute; width: 1024px;">
            <div id="site-blocks" style="height: 900px; position: relative; width: 1024px;">
            <!-- div id="site-blocks"    <ul id="sortable">  -->
            	<%=render :partial => '/content_libraries/existed_sources'%>
            <!-- /div   /ul   -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
    	</div>
      </div>
      <script>
        $('.location').click(function(){
            window.location.href=$(this).attr('rel');
        })

        $('.logout').click(function(){
            window.location.href='/logout';
        })
        
        $('.navBtns ul li').click(function(){
            window.location.href=$(this).attr('rel');
        })

        $('div#site-blocks div.item').each(function(){
            // make the blocks on the grid draggable
            $(this).draggable({
                handle: 'span.drag',
                containment: 'parent'
            });
            // attach the delete handlers
            var _did = '#'+this.id+' .resizable_content span.delete a',
                 _id =  this.id.match(/\d+/)[0];
            $(_did).unbind('click');
            $(_did).click(function(){delete_block(_id);});
        });
        setnofblocks(true);
        fitgrid();
      </script>

  </body>
</html>