<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Pecaa</title>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
			google.load("jquery", "1.3.2");
		</script>

    <%= javascript_include_tag "activatables" %>
    <%= javascript_include_tag "validation"%>
    <%= stylesheet_link_tag  "layout", "pecaa", "controlTabLayout",'login','siteinfo','pages','content','themes','optional','users','done'%>
    <%= stylesheet_link_tag "select" %>
    <%= stylesheet_link_tag "tabs" %>
    <%= stylesheet_link_tag "prettyCheckboxes" %>
    <%= stylesheet_link_tag "website" %>
    <%= stylesheet_link_tag "facebox" %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom'%>
    <%#= csrf_meta_tag %>
    <%#= javascript_include_tag 'jquery.min.js','rails.js'%>
    <%= javascript_include_tag 'jquery-1.4.2.min'%>
    <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min'%>
    <%#= javascript_include_tag 'jquery.min.js', 'rails.js'%>
    <%= javascript_include_tag 'facebox'%>
    <%= javascript_include_tag 'common'%>
    <%= javascript_include_tag 'customSelect'%>
    <%= javascript_include_tag 'slider'%>
    <%= javascript_include_tag "prettyCheckboxes" %>
    <%= javascript_include_tag "jquery.tinyscrollbar.min" %>
    <%= javascript_include_tag "inputstyle" %>
    <%= csrf_meta_tag %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#scrollbar1').tinyscrollbar();
  });
</script>
<!-- end of scroll bar scripts -->
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery.ui.core.js"></script>
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery.ui.datepicker.js"></script>
<link type="text/css" href="/assets/users/scripts/Datepicker/jquery.ui.datepicker.css" rel="stylesheet" />
	</head>

	<body>
    <div class="mainContainer">
	    	<div class="userEditHolder">	
		    	<div class="ueHeader">
			       <img src="/assets/ue-nav-logo.jpg" />
			       <img src="/assets/ue-nav-btn-help.jpg" />
			       <a href="/users/update_account" rel="facebox"><img src="/assets/ue-nav-btn-my-account.jpg" /></a>
			       <a href='/logout'><img src="/assets/users/images/ue-nav-btn-logout.jpg"></a>
			     </div>
        		<div class="clear"></div>
		    	<div class="content-section">
    				<div class="ctrlTabSection">
	    				<div class="ueNavHolder">
				            <img src="/assets/ue-nav-bg-left.png" style="float:left;" />
				            <div class="ueNavMid">
				            	<ul class="ueNav">
								   <li <%=check_selected("sites")%>><a href="/sites"><span>Website List</span></a></li>
                    				<li><a href="#"><span>System Stats</span></a></li>
                    				<li><a href="#"><span>Reports</span></a></li>
                    				<li><a href="#"><span>Ad Setup</span></a></li>
                    				<li><a href="/content_libraries"><span>Content Library</span></a></li>
                    				<li <%=check_selected("users")%>> <a href="/users"><span>Users</span></a></li>
                   	 				<li class='select' <%=check_selected("system_configs")%>><a href="/system_configs"><span>System Config</span></a></li>
								</ul>
				            </div>
				            <img src="/assets/ue-nav-bg-right.png" style="float:left;" />
			            </div>
						<%=yield%>

    					<div class="ctrl-footer">
    						<a href="#" class="ctrlHomeBtn left"></a>
    						<ul class="ctrlFTLinks right">
    							<li>sublink1</li>
    							<li>sublink2</li>
    							<li>sublink3</li>
    							<li>sublink4</li>
    						</ul>
    					</div>
    				</div>
		    	</div>
	    	</div>
      </div>

	</body>
</html>